In [3]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import learning_curve, validation_curve


def plot_learning_curve(
    estimator,
    X,
    y,
    title="Learning Curve",
    ylim=None,
    cv=None,
    n_jobs=None,
    train_sizes=np.linspace(0.1, 1.0, 5),
    scoring=None,
):
    """
    This is a custom modification of the code present here:
    https://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html
    
    Generate 3 plots: the test and training learning curve, the training
    samples vs fit times curve, the fit times vs score curve.

    Parameters
    ----------
    estimator : object type that implements the "fit" and "predict" methods
        An object of that type which is cloned for each validation.

    title : string
        Title for the chart.

    X : array-like, shape (n_samples, n_features)
        Training vector, where n_samples is the number of samples and
        n_features is the number of features.

    y : array-like, shape (n_samples) or (n_samples, n_features), optional
        Target relative to X for classification or regression;
        None for unsupervised learning.

    ylim : tuple, shape (ymin, ymax), optional
        Defines minimum and maximum yvalues plotted.

    cv : int, cross-validation generator or an iterable, optional
        Determines the cross-validation splitting strategy.
        Possible inputs for cv are:
          - None, to use the default 5-fold cross-validation,
          - integer, to specify the number of folds.
          - :term:`CV splitter`,
          - An iterable yielding (train, test) splits as arrays of indices.

        For integer/None inputs, if ``y`` is binary or multiclass,
        :class:`StratifiedKFold` used. If the estimator is not a classifier
        or if ``y`` is neither binary nor multiclass, :class:`KFold` is used.

        Refer :ref:`User Guide <cross_validation>` for the various
        cross-validators that can be used here.

    n_jobs : int or None, optional (default=None)
        Number of jobs to run in parallel.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.

    train_sizes : array-like, shape (n_ticks,), dtype float or int
        Relative or absolute numbers of training examples that will be used to
        generate the learning curve. If the dtype is float, it is regarded as a
        fraction of the maximum size of the training set (that is determined
        by the selected validation method), i.e. it has to be within (0, 1].
        Otherwise it is interpreted as absolute sizes of the training sets.
        Note that for classification the number of samples usually have to
        be big enough to contain at least one sample from each class.
        (default: np.linspace(0.1, 1.0, 5))

    scoring: string, callable or None, optional, default: None
        A string (see model evaluation documentation) or a scorer callable object / function
        with signature scorer(estimator, X, y).
    """

    fig, axes = plt.subplots(1, 1, figsize=(10, 5))

    axes.set_title(title)
    if ylim is not None:
        axes.set_ylim(*ylim)
    axes.set_xlabel("Training examples")
    axes.set_ylabel("Score")

    train_sizes, train_scores, test_scores = learning_curve(
        estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes, scoring=scoring
    )
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)

    # Plot learning curve
    axes.grid(True)
    axes.fill_between(
        train_sizes,
        train_scores_mean - train_scores_std,
        train_scores_mean + train_scores_std,
        alpha=0.1,
        color="r",
    )
    axes.fill_between(
        train_sizes,
        test_scores_mean - test_scores_std,
        test_scores_mean + test_scores_std,
        alpha=0.1,
        color="g",
    )
    axes.plot(train_sizes, train_scores_mean, "o-", color="r", label="Training score")
    axes.plot(
        train_sizes, test_scores_mean, "o-", color="g", label="Cross-validation score"
    )
    axes.legend(loc="best")
    return fig, axes


def plot_validation_curve(
    estimator,
    X,
    y,
    ylim=None,
    cv=None,
    n_jobs=None,
    param_name=None,
    param_range=None,
    scoring=None,
):
    """
    referred from :
    https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics

    :param estimator: object type that implements the "fit" and "predict" methods
        An object of that type which is cloned for each validation.
    :param X: array-like, shape (n_samples, n_features)
        Training vector, where n_samples is the number of samples and
        n_features is the number of features.
    :param y: array-like, shape (n_samples) or (n_samples, n_features), optional
        Target relative to X for classification or regression;
        None for unsupervised learning.
    :param ylim: tuple, shape (ymin, ymax), optional
        Defines minimum and maximum yvalues plotted.
    :param cv: int, cross-validation generator or an iterable, optional
        Determines the cross-validation splitting strategy.
        Possible inputs for cv are:
          - None, to use the default 5-fold cross-validation,
          - integer, to specify the number of folds.
          - :term:`CV splitter`,
          - An iterable yielding (train, test) splits as arrays of indices.

        For integer/None inputs, if ``y`` is binary or multiclass,
        :class:`StratifiedKFold` used. If the estimator is not a classifier
        or if ``y`` is neither binary nor multiclass, :class:`KFold` is used.

        Refer :ref:`User Guide <cross_validation>` for the various
        cross-validators that can be used here.
    :param n_jobs: int or None, optional (default=None)
        Number of jobs to run in parallel.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.
    :param param_range: array-like, shape (n_values,)
    The values of the parameter that will be evaluated.
    :param param_name: string
    Name of the parameter that will be varied.
    :param scoring: string, callable or None, optional, default: None
        A string (see model evaluation documentation) or a scorer callable object / function
        with signature scorer(estimator, X, y).
    :return: fig


    """
    train_scores, test_scores = validation_curve(
        estimator,
        X,
        y,
        param_name=param_name,
        param_range=param_range,
        scoring=scoring,
        n_jobs=n_jobs,
        cv=cv,
    )
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)

    fig, axes = plt.subplots(1, 1, figsize=(10, 5))
    axes.grid(True)
    axes.set_title(f"Validation Curve with {estimator.__class__}")
    axes.set_xlabel(f"{param_name}")
    axes.set_ylabel(f"{scoring}")
    if ylim is not None:
        axes.set_ylim(*ylim)

    lw = 2
    axes.plot(
        param_range,
        train_scores_mean,
        label="Training score",
        color="darkorange",
        lw=lw,
    )
    axes.fill_between(
        param_range,
        train_scores_mean - train_scores_std,
        train_scores_mean + train_scores_std,
        alpha=0.2,
        color="darkorange",
        lw=lw,
    )
    axes.plot(
        param_range,
        test_scores_mean,
        label="Cross-validation score",
        color="navy",
        lw=lw,
    )
    axes.fill_between(
        param_range,
        test_scores_mean - test_scores_std,
        test_scores_mean + test_scores_std,
        alpha=0.2,
        color="navy",
        lw=lw,
    )
    axes.legend(loc="best")
    return fig, axes

In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from pathlib import Path

# classifiers we will use
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, HistGradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost

#imputers
from sklearn.impute import SimpleImputer, KNNImputer

# model selection bits
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split, ParameterGrid, ParameterSampler
#from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedShuffleSplit, GroupShuffleSplit, GroupKFold, StratifiedKFold
from sklearn.model_selection import learning_curve, validation_curve

# evaluation
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error


import scipy

Let's load all the data.

In [5]:
# Load the competition datasets into Pandas DataFrame
path = Path("/Users/13392/Documents/amp-parkinsons-disease-progression-prediction")
proteins = pd.read_csv(path/"train_proteins.csv")
peptides = pd.read_csv(path/"train_peptides.csv")
clinical = pd.read_csv(path/"train_clinical_data.csv")
supplemental = pd.read_csv(path/"supplemental_clinical_data.csv")

As discussed previously, we are dropping the entire "medication status" column, because:
1) Over 50% values are NaN. 
2) the test dataset will not have this data.

In [6]:
# drop the "medication status" column (due to over 50% NaN values), keep a copy of the original
# for later access. 
clinical_copy = clinical.copy()

clinical.drop('upd23b_clinical_state_on_medication', axis=1, inplace=True)

In [7]:

targets = ['updrs_1', 'updrs_2', 'updrs_3', 'updrs_4']
ids = ['patient_id', 'visit_id']
month = ['visit_month']

Let's see how much remains of 'NaN'

In [8]:
print(f'NaN value count:\n{clinical.isna().sum()}')
clinical

NaN value count:
visit_id          0
patient_id        0
visit_month       0
updrs_1           1
updrs_2           2
updrs_3          25
updrs_4        1038
dtype: int64

      visit_id  patient_id  visit_month  updrs_1  updrs_2  updrs_3  updrs_4
0         55_0          55            0     10.0      6.0     15.0      NaN
1         55_3          55            3     10.0      7.0     25.0      NaN
2         55_6          55            6      8.0     10.0     34.0      NaN
3         55_9          55            9      8.0      9.0     30.0      0.0
4        55_12          55           12     10.0     10.0     41.0      0.0
...        ...         ...          ...      ...      ...      ...      ...
2610  65043_48       65043           48      7.0      6.0     13.0      0.0
2611  65043_54       65043           54      4.0      8.0     11.0      1.0
2612  65043_60       65043           60      6.0      6.0     16.0      1.0
2613  65043_72       65043           72      3.0      9.0     14.0      1.0
2614  65043_84       65043           84      7.0      9.0     20.0      3.0

[2615 rows x 7 columns]

Significant, but manageable with some kind of imputation. Let's count the number of visits each patient has on record.

In [9]:
cols = ['patient_id', 'num_entries']
patient_list = clinical.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(clinical[clinical.patient_id==patient].index)

    n_list.append(n)
    p_list.append(patient)

df_visits_by_patient = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_visits_by_patient

     patient_id  num_entries
0            55           13
1           942           15
2          1517           10
3          1923            7
4          2660            6
..          ...          ...
243       63875            9
244       63889           10
245       64669           15
246       64674           16
247       65043           15

[248 rows x 2 columns]

NaN values in the "Proteins"  and "Peptides" datasets.

In [10]:
print(f'NaN value count:\n{proteins.isna().sum()}')
proteins

NaN value count:
visit_id       0
visit_month    0
patient_id     0
UniProt        0
NPX            0
dtype: int64

         visit_id  visit_month  patient_id UniProt       NPX
0            55_0            0          55  O00391   11254.3
1            55_0            0          55  O00533  732430.0
2            55_0            0          55  O00584   39585.8
3            55_0            0          55  O14498   41526.9
4            55_0            0          55  O14773   31238.0
...           ...          ...         ...     ...       ...
232736  58648_108          108       58648  Q9UBX5   27387.8
232737  58648_108          108       58648  Q9UHG2  369437.0
232738  58648_108          108       58648  Q9UKV8  105830.0
232739  58648_108          108       58648  Q9Y646   21257.6
232740  58648_108          108       58648  Q9Y6R7   17953.1

[232741 rows x 5 columns]

In [11]:
print(f'NaN value count:\n{peptides.isna().sum()}')

peptides

NaN value count:
visit_id            0
visit_month         0
patient_id          0
UniProt             0
Peptide             0
PeptideAbundance    0
dtype: int64

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.30
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.00
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.00
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.90
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.70
...,...,...,...,...,...,...
981829,58648_108,108,58648,Q9UHG2,ILAGSADSEGVAAPR,202820.00
981830,58648_108,108,58648,Q9UKV8,SGNIPAGTTVDTK,105830.00
981831,58648_108,108,58648,Q9Y646,LALLVDTVGPR,21257.60
981832,58648_108,108,58648,Q9Y6R7,AGC(UniMod_4)VAESTAVC(UniMod_4)R,5127.26
981833,58648_108,108,58648,Q9Y6R7,GATTSPGVYELSSR,12825.90

Great! No NaN values at all in them. Let's find out how many of each patient's visits have protein/peptide data.

In [12]:
cols = ['patient_id', 'num_entries_protein']
patient_list = proteins.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(proteins[proteins.patient_id==patient].visit_id.unique())

    n_list.append(n)
    p_list.append(patient)

df_recorded_visits_protein = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_recorded_visits_protein

     patient_id  num_entries_protein
0            55                    4
1          1517                    4
2          1923                    3
3          2660                    5
4          3636                    3
..          ...                  ...
243       52998                    3
244       54979                    3
245       58597                    3
246        7508                    3
247       12931                    4

[248 rows x 2 columns]

In [13]:
cols = ['patient_id', 'num_entries_peptide']
patient_list = peptides.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(peptides[peptides.patient_id==patient].visit_id.unique())

    n_list.append(n)
    p_list.append(patient)

df_recorded_visits_peptide = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_recorded_visits_peptide

     patient_id  num_entries_peptide
0            55                    4
1          1517                    4
2          1923                    3
3          2660                    5
4          3636                    3
..          ...                  ...
243       52998                    3
244       54979                    3
245       58597                    3
246        7508                    3
247       12931                    4

[248 rows x 2 columns]

In [14]:
df = pd.merge(df_recorded_visits_protein, df_recorded_visits_peptide, on='patient_id', how='left')
df = pd.merge(df_visits_by_patient, df, on='patient_id', how='left')
df.head(10)

   patient_id  num_entries  num_entries_protein  num_entries_peptide
0          55           13                    4                    4
1         942           15                    4                    4
2        1517           10                    4                    4
3        1923            7                    3                    3
4        2660            6                    5                    5
5        3636           14                    3                    3
6        3863            9                    5                    5
7        4161           12                    6                    6
8        4172            8                    7                    7
9        4923           11                    5                    5

It's not looking great - we can clearly see that, for most of the patients, only 1/2 to 1/3 of the visits contain protein and peptide records.

Something to think about for later on...

Now we will "pivot" the datasets so the unique coding for each protein/peptide becomes a feature for the models to learn on.

In [15]:
df_proteins = proteins.pivot(index=['patient_id', 'visit_month', 'visit_id'], columns='UniProt', values='NPX').rename_axis(columns=None).reset_index()

df_peptides = peptides.pivot(index=['patient_id', 'visit_month', 'visit_id'], columns='Peptide', values='PeptideAbundance').rename_axis(columns=None).reset_index()

In [16]:
df_proteins

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
0,55,0,55_0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,365475.0,35528.00,97005.6,23122.5,60912.6,408698.0,NaN,29758.8,23833.7,18953.5
1,55,6,55_6,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,405676.0,30332.60,109174.0,23499.8,51655.8,369870.0,NaN,22935.2,17722.5,16642.7
2,55,12,55_12,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,303953.0,43026.20,114921.0,21860.1,61598.2,318553.0,65762.6,29193.4,28536.1,19290.9
3,55,36,55_36,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,303597.0,48188.40,109794.0,23930.6,70223.5,377550.0,74976.1,31732.6,22186.5,21717.1
4,942,6,942_6,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,253373.0,27431.80,93796.7,17450.9,21299.1,306621.0,82335.5,24018.7,18939.5,15251.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,NaN,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,260021.0,7139.93,104277.0,10500.0,21944.2,136725.0,62217.5,NaN,10287.7,13848.2
1109,65043,0,65043_0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,186414.0,25897.80,NaN,21480.7,57364.0,416142.0,37584.6,NaN,28346.5,35617.5
1110,65043,12,65043_12,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,301343.0,22343.40,105626.0,20500.8,54011.2,380072.0,40588.9,NaN,17035.7,37064.2
1111,65043,24,65043_24,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,300439.0,52143.60,139291.0,19449.2,66569.9,300948.0,36150.4,NaN,21286.3,39587.9
1112,65043,48,65043_48,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,223136.0,21659.90,116470.0,14073.3,48796.4,320821.0,39046.7,NaN,20198.8,39535.0

In [17]:
df_peptides

,patient_id,visit_month,visit_id,AADDTWEPFASGK,AAFGQGSGPIMLDEVQC(UniMod_4)TGTEASLADC(UniMod_4)K,AAFTEC(UniMod_4)C(UniMod_4)QAADK,AANEVSSADVK,AATGEC(UniMod_4)TATVGKR,AATVGSLAGQPLQER,AAVYHHFISDGVR,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55,0,55_0,8984260.0,53855.6,8579740.0,NaN,19735.4,114400.0,46371.1,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55,6,55_6,8279770.0,45251.9,8655890.0,49927.5,23820.4,90539.4,38652.4,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55,12,55_12,8382390.0,53000.9,8995640.0,45519.2,17813.5,147312.0,45840.9,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55,36,55_36,10671500.0,58108.4,9985420.0,52374.0,19373.3,64356.1,49793.2,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942,6,942_6,6177730.0,42682.6,3596660.0,25698.8,17130.6,86471.5,41007.9,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,7083630.0,35656.1,6273100.0,NaN,NaN,15479.2,NaN,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043,0,65043_0,7818630.0,95033.0,5119260.0,57483.7,11610.0,270739.0,42527.3,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043,12,65043_12,8070390.0,76532.7,8233520.0,54260.6,11631.9,230169.0,42255.5,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043,24,65043_24,7608150.0,75401.6,9168030.0,NaN,13313.9,220202.0,46914.1,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043,48,65043_48,7187220.0,72262.2,8551210.0,NaN,12365.3,197981.0,42311.3,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

Because not all 1000+ proteins and peptides are measured at each recorded visit, some NaN values should be now expected.

In [18]:
df_proteins.isna().sum().sort_values(ascending=False)

Q99829        624
Q99832        507
Q562R1        497
P01780        459
Q6UX71        452
             ...
P02766          0
P02765          0
P02751          0
P02749          0
patient_id      0
Length: 230, dtype: int64

In [19]:
df_peptides.isna().sum().sort_values(ascending=False)

QALPQVR                   624
EPQVYTLPPSRDELTK          550
TPSGLYLGTC(UniMod_4)ER    523
SLEDQVEMLR                514
HYEGSTVPEK                508
                         ...
visit_id                    0
IPTTFENGR                   0
AIGYLNTGYQR                 0
NILTSNNIDVK                 0
patient_id                  0
Length: 971, dtype: int64

We are going to combine the protein and peptide data, and check once again the status of NaN values. They should remain unchanged because we haven't done anything with them.

In [20]:
prot_pept_df = pd.merge(df_proteins, df_peptides, on=['patient_id','visit_month','visit_id'], how='left')
prot_pept_df

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55,0,55_0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55,6,55_6,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55,12,55_12,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55,36,55_36,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942,6,942_6,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,NaN,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043,0,65043_0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043,12,65043_12,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043,24,65043_24,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043,48,65043_48,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

In [21]:
prot_pept_df.isna().sum().sort_values(ascending=False)

Q99829                    624
QALPQVR                   624
EPQVYTLPPSRDELTK          550
TPSGLYLGTC(UniMod_4)ER    523
SLEDQVEMLR                514
                         ...
P41222                      0
P02774                      0
P02787                      0
P02790                      0
patient_id                  0
Length: 1198, dtype: int64

In [22]:
patient_list=prot_pept_df['patient_id'].unique()
patient_list

array([   55,   942,  1517,  1923,  2660,  3636,  3863,  4161,  4172,
        4923,  5027,  5036,  5178,  5645,  5742,  6054,  6211,  6420,
        7051,  7117,  7151,  7265,  7508,  7568,  7832,  7886,  8344,
        8699, 10053, 10138, 10174, 10541, 10715, 10718, 11459, 11686,
       11928, 12516, 12636, 12703, 12755, 12931, 13360, 13368, 13618,
       13804, 13852, 13968, 14035, 14124, 14242, 14270, 14344, 14450,
       14811, 15009, 15245, 15504, 15590, 16238, 16347, 16566, 16574,
       16778, 16931, 17154, 17201, 17414, 17727, 18183, 18204, 18553,
       18560, 19088, 20212, 20216, 20352, 20404, 20460, 20581, 20664,
       20707, 20791, 20792, 21126, 21537, 21729, 22126, 22623, 23175,
       23192, 23244, 23391, 23636, 24278, 24690, 24818, 24820, 24911,
       25562, 25739, 25750, 25827, 25911, 26005, 26104, 26210, 26809,
       27079, 27300, 27464, 27468, 27607, 27715, 27872, 27893, 27971,
       27987, 28327, 28342, 28818, 29313, 29417, 30119, 30155, 30416,
       30894, 30951, 31121, 31154, 31270, 31693, 33108, 33548, 33558,
       34182, 35231, 35465, 35477, 35675, 35696, 36797, 37220, 37312,
       37566, 38419, 39144, 39719, 40022, 40200, 40340, 40650, 40751,
       40798, 40874, 40876, 40967, 40980, 41444, 41617, 41628, 41871,
       41883, 41930, 42003, 42086, 42385, 42579, 44001, 44154, 44682,
       44789, 45161, 45181, 45662, 46837, 47103, 47171, 47513, 47881,
       48780, 48928, 49239, 49672, 49683, 49995, 50611, 50907, 51243,
       51708, 51846, 51879, 51893, 51899, 52119, 52266, 52998, 53103,
       54095, 54406, 54979, 55096, 55240, 55256, 55302, 55662, 56073,
       56075, 56119, 56317, 56538, 56675, 56691, 56727, 57009, 57108,
       57321, 57416, 57468, 57478, 57507, 57646, 58189, 58270, 58597,
       58648, 58653, 58674, 58823, 59550, 59574, 60170, 60326, 60443,
       60788, 60803, 61503, 61974, 62329, 62437, 62723, 62732, 62792,
       63875, 63889, 64669, 64674, 65043], dtype=int64)

Here there are two ways to impute the data:
1) combine "clinical" and "prot_pept_df" first then impute, or
2) first impute them separately, then combine. 

We'll do both and see how the outcomes differ.

I am choosing to use sklearn's KNN imputer because, with a bit of clever coding, I can use all the availble data for a given patient to impute missing values.

In [23]:
# Method 1: Combine first, impute next. 
big_data = pd.merge(clinical, prot_pept_df, on=['patient_id','visit_month','visit_id'], how='left')
big_data.head(30)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55_0,55,0,10.0,6.0,15.0,NaN,11254.30,732430.0,39585.8,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,13163.60,630465.0,35220.8,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
3,55_9,55,9,8.0,9.0,30.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55_12,55,12,10.0,10.0,41.0,0.0,15257.60,815083.0,41650.9,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
5,55_18,55,18,7.0,13.0,38.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,55_24,55,24,16.0,9.0,49.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,55_30,55,30,14.0,13.0,49.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,55_36,55,36,17.0,18.0,51.0,0.0,13530.80,753832.0,43048.9,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
9,55_42,55,42,12.0,20.0,41.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55_48,55,48,17.0,16.0,52.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,55_54,55,54,12.0,18.0,51.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,55_60,55,60,23.0,21.0,56.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,942_0,942,0,3.0,2.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,942_3,942,3,7.0,2.0,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,942_6,942,6,8.0,2.0,21.0,NaN,11218.70,399518.0,20581.0,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
16,942_12,942,12,5.0,2.0,25.0,0.0,6757.32,360858.0,18367.6,...,173259.0,4767.63,374307.0,35767.3,250397.0,65966.9,77976.8,486239.0,45032.7,NaN
17,942_18,942,18,6.0,5.0,18.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,942_24,942,24,2.0,3.0,23.0,NaN,NaN,352722.0,22834.9,...,185428.0,5554.53,NaN,64049.8,479473.0,68505.7,74483.1,561398.0,52916.4,21847.6
19,942_30,942,30,4.0,4.0,19.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,942_36,942,36,2.0,4.0,19.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,942_42,942,42,2.0,3.0,32.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,942_48,942,48,2.0,6.0,35.0,0.0,11627.80,251820.0,22046.5,...,137611.0,6310.09,NaN,28008.8,231359.0,63265.8,64601.8,632782.0,51123.7,20700.3
23,942_54,942,54,2.0,4.0,26.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,942_60,942,60,2.0,5.0,31.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,942_72,942,72,4.0,2.0,33.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,942_84,942,84,4.0,8.0,26.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,942_96,942,96,6.0,9.0,39.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1517_0,1517,0,11.0,6.0,25.0,5.0,11648.90,419015.0,35053.8,...,210259.0,6789.37,3956620.0,101069.0,767457.0,65663.2,113977.0,468234.0,44771.3,20695.0
29,1517_6,1517,6,17.0,4.0,30.0,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#imputing
big_data_patient_list = big_data.patient_id.unique()
data_imputed_list = []
for patient_id in big_data_patient_list:
    masked_data = big_data[big_data['patient_id']==patient_id]
    num_rows = len(masked_data.index)
    knn = KNNImputer(missing_values=np.nan, keep_empty_features=True, n_neighbors=num_rows)
    X_knn = knn.fit_transform(masked_data)
    X_knn_df = pd.DataFrame(X_knn, columns = big_data.columns)
    data_imputed_list.append(X_knn_df)

big_data_imputed = pd.concat(data_imputed_list)

In [25]:
big_data_imputed.head(30)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,550.0,55.0,0.0,10.0,6.0,15.0,0.000000,11254.300,732430.0,39585.8,...,201158.00,16492.3000,3810270.0,106894.000,580667.00,131155.000,165851.00,437305.00,46289.200,14898.400000
1,553.0,55.0,3.0,10.0,7.0,25.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
2,556.0,55.0,6.0,8.0,10.0,34.0,0.000000,13163.600,630465.0,35220.8,...,171079.00,13198.8000,4119520.0,113385.000,514861.00,103512.000,144607.00,457891.00,40047.700,20703.900000
3,559.0,55.0,9.0,8.0,9.0,30.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
4,5512.0,55.0,12.0,10.0,10.0,41.0,0.000000,15257.600,815083.0,41650.9,...,231772.00,17873.8000,5474140.0,116286.000,711815.00,136943.000,181763.00,452253.00,54725.100,21841.100000
5,5518.0,55.0,18.0,7.0,13.0,38.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
6,5524.0,55.0,24.0,16.0,9.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
7,5530.0,55.0,30.0,14.0,13.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
8,5536.0,55.0,36.0,17.0,18.0,51.0,0.000000,13530.800,753832.0,43048.9,...,185290.00,18580.5000,2659660.0,90936.900,679163.00,128593.000,203680.00,498621.00,52792.700,13973.700000
9,5542.0,55.0,42.0,12.0,20.0,41.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
10,5548.0,55.0,48.0,17.0,16.0,52.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
11,5554.0,55.0,54.0,12.0,18.0,51.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
12,5560.0,55.0,60.0,23.0,21.0,56.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
0,9420.0,942.0,0.0,3.0,2.0,20.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
1,9423.0,942.0,3.0,7.0,2.0,17.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
2,9426.0,942.0,6.0,8.0,2.0,21.0,0.272727,11218.700,399518.0,20581.0,...,226314.00,6399.8000,374307.0,57571.400,480951.00,80001.200,79661.90,573300.00,48005.800,15674.100000
3,94212.0,942.0,12.0,5.0,2.0,25.0,0.000000,6757.320,360858.0,18367.6,...,173259.00,4767.6300,374307.0,35767.300,250397.00,65966.900,77976.80,486239.00,45032.700,19407.333333
4,94218.0,942.0,18.0,6.0,5.0,18.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
5,94224.0,942.0,24.0,2.0,3.0,23.0,0.272727,9867.940,352722.0,22834.9,...,185428.00,5554.5300,374307.0,64049.800,479473.00,68505.700,74483.10,561398.00,52916.400,21847.600000
6,94230.0,942.0,30.0,4.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
7,94236.0,942.0,36.0,2.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
8,94242.0,942.0,42.0,2.0,3.0,32.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
9,94248.0,942.0,48.0,2.0,6.0,35.0,0.000000,11627.800,251820.0,22046.5,...,137611.00,6310.0900,374307.0,28008.800,231359.00,63265.800,64601.80,632782.00,51123.700,20700.300000
10,94254.0,942.0,54.0,2.0,4.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
11,94260.0,942.0,60.0,2.0,5.0,31.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
12,94272.0,942.0,72.0,4.0,2.0,33.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
13,94284.0,942.0,84.0,4.0,8.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
14,94296.0,942.0,96.0,6.0,9.0,39.0,3.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
0,15170.0,1517.0,0.0,11.0,6.0,25.0,5.000000,11648.900,419015.0,35053.8,...,210259.00,6789.3700,3956620.0,101069.000,767457.00,65663.200,113977.00,468234.00,44771.300,20695.000000
1,15176.0,1517.0,6.0,17.0,4.0,30.0,7.000000,10969.500,552938.0,31469.9,...,205025.25,8539.3275,3720120.0,100256.025,702836.25,104364.925,109451.85,420979.00,48772.150,19240.400000

In [26]:
#resetting index to match original.
big_data_imputed.reset_index(inplace=True, drop=True)
big_data_imputed.head(30)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,550.0,55.0,0.0,10.0,6.0,15.0,0.000000,11254.300,732430.0,39585.8,...,201158.00,16492.3000,3810270.0,106894.000,580667.00,131155.000,165851.00,437305.00,46289.200,14898.400000
1,553.0,55.0,3.0,10.0,7.0,25.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
2,556.0,55.0,6.0,8.0,10.0,34.0,0.000000,13163.600,630465.0,35220.8,...,171079.00,13198.8000,4119520.0,113385.000,514861.00,103512.000,144607.00,457891.00,40047.700,20703.900000
3,559.0,55.0,9.0,8.0,9.0,30.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
4,5512.0,55.0,12.0,10.0,10.0,41.0,0.000000,15257.600,815083.0,41650.9,...,231772.00,17873.8000,5474140.0,116286.000,711815.00,136943.000,181763.00,452253.00,54725.100,21841.100000
5,5518.0,55.0,18.0,7.0,13.0,38.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
6,5524.0,55.0,24.0,16.0,9.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
7,5530.0,55.0,30.0,14.0,13.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
8,5536.0,55.0,36.0,17.0,18.0,51.0,0.000000,13530.800,753832.0,43048.9,...,185290.00,18580.5000,2659660.0,90936.900,679163.00,128593.000,203680.00,498621.00,52792.700,13973.700000
9,5542.0,55.0,42.0,12.0,20.0,41.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
10,5548.0,55.0,48.0,17.0,16.0,52.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
11,5554.0,55.0,54.0,12.0,18.0,51.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
12,5560.0,55.0,60.0,23.0,21.0,56.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
13,9420.0,942.0,0.0,3.0,2.0,20.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
14,9423.0,942.0,3.0,7.0,2.0,17.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
15,9426.0,942.0,6.0,8.0,2.0,21.0,0.272727,11218.700,399518.0,20581.0,...,226314.00,6399.8000,374307.0,57571.400,480951.00,80001.200,79661.90,573300.00,48005.800,15674.100000
16,94212.0,942.0,12.0,5.0,2.0,25.0,0.000000,6757.320,360858.0,18367.6,...,173259.00,4767.6300,374307.0,35767.300,250397.00,65966.900,77976.80,486239.00,45032.700,19407.333333
17,94218.0,942.0,18.0,6.0,5.0,18.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
18,94224.0,942.0,24.0,2.0,3.0,23.0,0.272727,9867.940,352722.0,22834.9,...,185428.00,5554.5300,374307.0,64049.800,479473.00,68505.700,74483.10,561398.00,52916.400,21847.600000
19,94230.0,942.0,30.0,4.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
20,94236.0,942.0,36.0,2.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
21,94242.0,942.0,42.0,2.0,3.0,32.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
22,94248.0,942.0,48.0,2.0,6.0,35.0,0.000000,11627.800,251820.0,22046.5,...,137611.00,6310.0900,374307.0,28008.800,231359.00,63265.800,64601.80,632782.00,51123.700,20700.300000
23,94254.0,942.0,54.0,2.0,4.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
24,94260.0,942.0,60.0,2.0,5.0,31.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
25,94272.0,942.0,72.0,4.0,2.0,33.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
26,94284.0,942.0,84.0,4.0,8.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
27,94296.0,942.0,96.0,6.0,9.0,39.0,3.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
28,15170.0,1517.0,0.0,11.0,6.0,25.0,5.000000,11648.900,419015.0,35053.8,...,210259.00,6789.3700,3956620.0,101069.000,767457.00,65663.200,113977.00,468234.00,44771.300,20695.000000
29,15176.0,1517.0,6.0,17.0,4.0,30.0,7.000000,10969.500,552938.0,31469.9,...,205025.25,8539.3275,3720120.0,100256.025,702836.25,104364.925,109451.85,420979.00,48772.150,19240.400000

In [27]:
#relabel patient id, visit id, and visit month.
ls = [ids, month]
for col in ls:
    big_data_imputed[col] = big_data[col]

In [28]:
big_data_imputed.head(30)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55_0,55,0,10.0,6.0,15.0,0.000000,11254.300,732430.0,39585.8,...,201158.00,16492.3000,3810270.0,106894.000,580667.00,131155.000,165851.00,437305.00,46289.200,14898.400000
1,55_3,55,3,10.0,7.0,25.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
2,55_6,55,6,8.0,10.0,34.0,0.000000,13163.600,630465.0,35220.8,...,171079.00,13198.8000,4119520.0,113385.000,514861.00,103512.000,144607.00,457891.00,40047.700,20703.900000
3,55_9,55,9,8.0,9.0,30.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
4,55_12,55,12,10.0,10.0,41.0,0.000000,15257.600,815083.0,41650.9,...,231772.00,17873.8000,5474140.0,116286.000,711815.00,136943.000,181763.00,452253.00,54725.100,21841.100000
5,55_18,55,18,7.0,13.0,38.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
6,55_24,55,24,16.0,9.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
7,55_30,55,30,14.0,13.0,49.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
8,55_36,55,36,17.0,18.0,51.0,0.000000,13530.800,753832.0,43048.9,...,185290.00,18580.5000,2659660.0,90936.900,679163.00,128593.000,203680.00,498621.00,52792.700,13973.700000
9,55_42,55,42,12.0,20.0,41.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
10,55_48,55,48,17.0,16.0,52.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
11,55_54,55,54,12.0,18.0,51.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
12,55_60,55,60,23.0,21.0,56.0,0.000000,13301.575,732952.5,39876.6,...,197324.75,16536.3500,4015897.5,106875.475,621626.50,125050.750,173975.25,461517.50,48463.675,17854.275000
13,942_0,942,0,3.0,2.0,20.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
14,942_3,942,3,7.0,2.0,17.0,0.272727,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
15,942_6,942,6,8.0,2.0,21.0,0.272727,11218.700,399518.0,20581.0,...,226314.00,6399.8000,374307.0,57571.400,480951.00,80001.200,79661.90,573300.00,48005.800,15674.100000
16,942_12,942,12,5.0,2.0,25.0,0.000000,6757.320,360858.0,18367.6,...,173259.00,4767.6300,374307.0,35767.300,250397.00,65966.900,77976.80,486239.00,45032.700,19407.333333
17,942_18,942,18,6.0,5.0,18.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
18,942_24,942,24,2.0,3.0,23.0,0.272727,9867.940,352722.0,22834.9,...,185428.00,5554.5300,374307.0,64049.800,479473.00,68505.700,74483.10,561398.00,52916.400,21847.600000
19,942_30,942,30,4.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
20,942_36,942,36,2.0,4.0,19.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
21,942_42,942,42,2.0,3.0,32.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
22,942_48,942,48,2.0,6.0,35.0,0.000000,11627.800,251820.0,22046.5,...,137611.00,6310.0900,374307.0,28008.800,231359.00,63265.800,64601.80,632782.00,51123.700,20700.300000
23,942_54,942,54,2.0,4.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
24,942_60,942,60,2.0,5.0,31.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
25,942_72,942,72,4.0,2.0,33.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
26,942_84,942,84,4.0,8.0,26.0,0.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
27,942_96,942,96,6.0,9.0,39.0,3.000000,9867.940,341229.5,20957.5,...,180653.00,5758.0125,374307.0,46349.325,360545.00,69434.900,74180.90,563429.75,49269.650,19407.333333
28,1517_0,1517,0,11.0,6.0,25.0,5.000000,11648.900,419015.0,35053.8,...,210259.00,6789.3700,3956620.0,101069.000,767457.00,65663.200,113977.00,468234.00,44771.300,20695.000000
29,1517_6,1517,6,17.0,4.0,30.0,7.000000,10969.500,552938.0,31469.9,...,205025.25,8539.3275,3720120.0,100256.025,702836.25,104364.925,109451.85,420979.00,48772.150,19240.400000

Next is Method #2: impute each dataset first, then combine. 

Imputing prot_pept_df:

In [29]:
data_imputed_list = []
for patient_id in patient_list:
    masked_data = prot_pept_df[prot_pept_df['patient_id']==patient_id]
    num_rows = len(masked_data.index)
    knn = KNNImputer(missing_values=np.nan, keep_empty_features=True, n_neighbors=num_rows)
    X_knn = knn.fit_transform(masked_data)
    X_knn_df = pd.DataFrame(X_knn, columns = prot_pept_df.columns)
    data_imputed_list.append(X_knn_df)
prot_pept_imputed = pd.concat(data_imputed_list)

In [30]:
prot_pept_imputed.isna().sum()

patient_id               0
visit_month              0
visit_id                 0
O00391                   0
O00533                   0
                        ..
YVNKEIQNAVNGVK           0
YWGVASFLQK               0
YYC(UniMod_4)FQGNQFLR    0
YYTYLIMNK                0
YYWGGQYTWDMAK            0
Length: 1198, dtype: int64

In [31]:
prot_pept_imputed.reset_index(inplace=True, drop=True)
prot_pept_imputed

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55.0,0.0,550.0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55.0,6.0,556.0,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55.0,12.0,5512.0,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55.0,36.0,5536.0,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942.0,6.0,9426.0,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,226314.0,6399.80,374307.0,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674.0,84.0,6467484.0,0.0,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043.0,0.0,650430.0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043.0,12.0,6504312.0,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043.0,24.0,6504324.0,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043.0,48.0,6504348.0,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

In [32]:
prot_pept_imputed = prot_pept_imputed.astype({'patient_id': 'int', 'visit_month': 'int'})
prot_pept_imputed['visit_id'] = prot_pept_df['visit_id']
print(prot_pept_imputed.dtypes)

patient_id                 int32
visit_month                int32
visit_id                  object
O00391                   float64
O00533                   float64
                          ...
YVNKEIQNAVNGVK           float64
YWGVASFLQK               float64
YYC(UniMod_4)FQGNQFLR    float64
YYTYLIMNK                float64
YYWGGQYTWDMAK            float64
Length: 1198, dtype: object

In [33]:
prot_pept_imputed

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55,0,55_0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55,6,55_6,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55,12,55_12,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55,36,55_36,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942,6,942_6,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,226314.0,6399.80,374307.0,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,0.0,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043,0,65043_0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043,12,65043_12,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043,24,65043_24,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043,48,65043_48,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

In [34]:
print(clinical.isna().sum())
print(f'dataset shape: {clinical.shape}')

visit_id          0
patient_id        0
visit_month       0
updrs_1           1
updrs_2           2
updrs_3          25
updrs_4        1038
dtype: int64
dataset shape: (2615, 7)

In [35]:
data_imputed_list = []
for patient_id in patient_list:
    masked_data = clinical[clinical['patient_id']==patient_id]
    num_rows = len(masked_data.index)
    knn = KNNImputer(missing_values=np.nan, keep_empty_features=True, n_neighbors=num_rows)
    X_knn = knn.fit_transform(masked_data)
    X_knn_df = pd.DataFrame(X_knn, columns = clinical.columns)
    data_imputed_list.append(X_knn_df)
clinical_imputed = pd.concat(data_imputed_list)

In [36]:
print(clinical_imputed.isna().sum())
print(f'imputed clinical dataset shape: {clinical_imputed.shape}')

visit_id       0
patient_id     0
visit_month    0
updrs_1        0
updrs_2        0
updrs_3        0
updrs_4        0
dtype: int64
imputed clinical dataset shape: (2615, 7)

In [37]:
clinical_imputed.reset_index(inplace=True, drop=True)
clinical_imputed

       visit_id  patient_id  visit_month  updrs_1  updrs_2  updrs_3  updrs_4
0         550.0        55.0          0.0     10.0      6.0     15.0      0.0
1         553.0        55.0          3.0     10.0      7.0     25.0      0.0
2         556.0        55.0          6.0      8.0     10.0     34.0      0.0
3         559.0        55.0          9.0      8.0      9.0     30.0      0.0
4        5512.0        55.0         12.0     10.0     10.0     41.0      0.0
...         ...         ...          ...      ...      ...      ...      ...
2610  6504348.0     65043.0         48.0      7.0      6.0     13.0      0.0
2611  6504354.0     65043.0         54.0      4.0      8.0     11.0      1.0
2612  6504360.0     65043.0         60.0      6.0      6.0     16.0      1.0
2613  6504372.0     65043.0         72.0      3.0      9.0     14.0      1.0
2614  6504384.0     65043.0         84.0      7.0      9.0     20.0      3.0

[2615 rows x 7 columns]

In [38]:
clinical_imputed = clinical_imputed.astype({'patient_id': 'int', 'visit_month': 'int'})
clinical_imputed['visit_id'] = clinical['visit_id']
print(clinical_imputed.dtypes)

visit_id        object
patient_id       int32
visit_month      int32
updrs_1        float64
updrs_2        float64
updrs_3        float64
updrs_4        float64
dtype: object

In [39]:

prot_pept_clinical = pd.merge(prot_pept_imputed, clinical_imputed, on=['visit_id', 'visit_month', 'patient_id'], how='left')

In [40]:
print(prot_pept_clinical.isna().sum())
print(f'merged protein peptide and clinical dataset shape: {prot_pept_clinical.shape}')

patient_id        0
visit_month       0
visit_id          0
O00391            0
O00533            0
                 ..
YYWGGQYTWDMAK     0
updrs_1          45
updrs_2          45
updrs_3          45
updrs_4          45
Length: 1202, dtype: int64
merged protein peptide and clinical dataset shape: (1113, 1202)

Interestingly, with Method #2 (first impute separately, then combine) we end up with some additional NaN values that need to be dealt with.

In [41]:
df = prot_pept_clinical[prot_pept_clinical.columns[prot_pept_clinical.isna().any()]]

df1 = df[df.isna().any(axis=1)]

print(df1)
print()
print(f'Remaining NaN values is a dataframe of: {df1.shape}')

      updrs_1  updrs_2  updrs_3  updrs_4
16        NaN      NaN      NaN      NaN
47        NaN      NaN      NaN      NaN
50        NaN      NaN      NaN      NaN
57        NaN      NaN      NaN      NaN
92        NaN      NaN      NaN      NaN
95        NaN      NaN      NaN      NaN
156       NaN      NaN      NaN      NaN
172       NaN      NaN      NaN      NaN
182       NaN      NaN      NaN      NaN
216       NaN      NaN      NaN      NaN
219       NaN      NaN      NaN      NaN
239       NaN      NaN      NaN      NaN
269       NaN      NaN      NaN      NaN
338       NaN      NaN      NaN      NaN
342       NaN      NaN      NaN      NaN
364       NaN      NaN      NaN      NaN
378       NaN      NaN      NaN      NaN
405       NaN      NaN      NaN      NaN
406       NaN      NaN      NaN      NaN
411       NaN      NaN      NaN      NaN
431       NaN      NaN      NaN      NaN
439       NaN      NaN      NaN      NaN
474       NaN      NaN      NaN      NaN
499       NaN      NaN      NaN      NaN
523       NaN      NaN      NaN      NaN
577       NaN      NaN      NaN      NaN
600       NaN      NaN      NaN      NaN
627       NaN      NaN      NaN      NaN
666       NaN      NaN      NaN      NaN
727       NaN      NaN      NaN      NaN
730       NaN      NaN      NaN      NaN
753       NaN      NaN      NaN      NaN
791       NaN      NaN      NaN      NaN
805       NaN      NaN      NaN      NaN
823       NaN      NaN      NaN      NaN
881       NaN      NaN      NaN      NaN
910       NaN      NaN      NaN      NaN
953       NaN      NaN      NaN      NaN
971       NaN      NaN      NaN      NaN
993       NaN      NaN      NaN      NaN
1000      NaN      NaN      NaN      NaN
1011      NaN      NaN      NaN      NaN
1033      NaN      NaN      NaN      NaN
1038      NaN      NaN      NaN      NaN
1041      NaN      NaN      NaN      NaN

Remaining NaN values is a dataframe of: (45, 4)

In this case, the best course of action would be to drop the 45 rows entirely.

In [42]:
prot_pept_clinical.dropna(subset = targets, inplace=True, axis=0)
prot_pept_clinical.isna().sum()

patient_id       0
visit_month      0
visit_id         0
O00391           0
O00533           0
                ..
YYWGGQYTWDMAK    0
updrs_1          0
updrs_2          0
updrs_3          0
updrs_4          0
Length: 1202, dtype: int64

Ok, so now we have two imputed combined datasets to work with. Before introducing ML models, I'll first define a function to calculate SMAPE scores.

In [43]:
def smape_score(actual, predicted):
    sum = 0
    for a, p in zip(actual, predicted):
        if a==0 and p==0:
            pass
        else:
            sum += (np.abs(p-a))/(np.abs(p)+np.abs(a))*2
    return sum/len(actual)*100

We will also build a dataframe to hold all the testing results.

In [44]:
results = pd.DataFrame(columns=[])

An important initial step is to test several different important parameters. For RandomForestRegressor, argurably the most important parameters to control are:
n_estimators, the number of decision trees in the forest;
max_features, the max number of features to consider at each split (drawn at random);
max_depth, the max number of splits that each tree is allowed.

So here I draw a random combination of the three parameters.

In [119]:


RFR = RandomForestRegressor()

params = {'max_features': [10,25,50,100,200,500],
                 'n_estimators': [100,200,500],
                 'max_depth': [2,4,8,16,32]}

random_params = list(ParameterSampler(params, n_iter=10, random_state=0))

random_params

#random_search = RandomizedSearchCV(estimator=RFR, param_distributions=random_params, scoring='neg_mean_absolute_error', cv=2, verbose=10)

[{'n_estimators': 500, 'max_features': 10, 'max_depth': 2},
 {'n_estimators': 200, 'max_features': 200, 'max_depth': 2},
 {'n_estimators': 500, 'max_features': 500, 'max_depth': 8},
 {'n_estimators': 500, 'max_features': 25, 'max_depth': 8},
 {'n_estimators': 100, 'max_features': 200, 'max_depth': 16},
 {'n_estimators': 100, 'max_features': 200, 'max_depth': 4},
 {'n_estimators': 100, 'max_features': 100, 'max_depth': 8},
 {'n_estimators': 200, 'max_features': 50, 'max_depth': 8},
 {'n_estimators': 100, 'max_features': 50, 'max_depth': 32},
 {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}]

I'll first test the RandomForestRegressor model on "big_data_imputed", i.e. data that was first combined then imputed.

In [116]:
#randomforestregressor 

X = big_data_imputed.drop(columns=targets, axis=1)

for target in targets:

    y = big_data_imputed[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')

    #Randomly generate a dictionary containing 10 combinations of parameters. 
    #random_params = ParameterSampler(params, n_iter=10)
    
    for params in random_params:
        #fitting and testing
        RFR.set_params(**params)
        RFR.fit(X_train,y_train)    
        y_predict = RFR.predict(X_test)
        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

    print()

updrs_1: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 3.987260152092388; SMAPE: 64.19733546966046
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 2.3996932048337185; SMAPE: 48.367525967273075
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 3.9819928376719154; SMAPE: 64.15937523579444
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 3.4792665442891364; SMAPE: 59.33737642893081
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 2.476850610473197; SMAPE: 50.48650220104292
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 3.050024148851988; SMAPE: 54.49626525983749
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 3.754486312851046; SMAPE: 62.15035228934278
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 3.8614278089434584; SMAPE: 63.05122230989251
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 2.5328785646744665; SMAPE: 50.734028636180305
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 3.1110810302709506; SMAPE: 55.13646350613948

updrs_2: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 4.715656197452533; SMAPE: 86.4329610755975
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 2.317705952206584; SMAPE: 68.37942113249537
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 4.716501072241208; SMAPE: 86.38880220922967
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 3.9313325144315123; SMAPE: 80.68804308767274
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 2.4026073700472557; SMAPE: 66.39472209664655
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 3.202206408345833; SMAPE: 75.64470622187062
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 4.439656269937006; SMAPE: 84.72447111698102
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 4.5794059666594045; SMAPE: 85.47207293624697
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 2.45532306434024; SMAPE: 64.41151673001151
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 3.2881640613994887; SMAPE: 75.8600907830702

updrs_3: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 11.534378830094461; SMAPE: 74.83570438045639
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 6.398398636340649; SMAPE: 57.972937002179
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 11.573871784004394; SMAPE: 74.95766301124056
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 9.677612944883885; SMAPE: 69.5638359557136
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 6.697106949030613; SMAPE: 58.64917110162078
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 7.989821241421445; SMAPE: 64.44649822793363
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 11.078725613284247; SMAPE: 73.36133298561886
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 11.21110557680448; SMAPE: 73.75424708334216
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 6.85598564204199; SMAPE: 59.20044791496122
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 8.35922523126862; SMAPE: 65.88309944739781

updrs_4: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 1.7073360222465486; SMAPE: 150.51614197135703
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 1.0636275341314099; SMAPE: 143.82909783650447
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 1.7041963023587734; SMAPE: 150.43428050476174
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 1.5084928222899578; SMAPE: 148.05173754802894
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 1.0013369434912462; SMAPE: 141.93072915244787
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 1.3235250310379043; SMAPE: 145.0341676350306
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 1.6314501854284007; SMAPE: 149.65498927196802
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 1.646924285011034; SMAPE: 149.7339399485904
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 1.0142128750029835; SMAPE: 124.12046743420852
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 1.34053727466395; SMAPE: 145.50679018256133

Now we'll test the same set of parameters on the same model, on "prot_pept_clinical" data, i.e. data that was first independently imputed, then combined.

In [117]:
X = prot_pept_clinical.drop(columns=targets, axis=1)

for target in targets:

    y = prot_pept_clinical[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')

    #Randomly generate a dictionary containing 10 combinations of parameters. 
    #random_params = ParameterSampler(params, n_iter=10)
    
    for params in random_params:
        #fitting and testing
        RFR.set_params(**params)
        RFR.fit(X_train,y_train)    
        y_predict = RFR.predict(X_test)
        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

    print()

updrs_1: 961 samples in training, 107 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 3.4247192721336357; SMAPE: 64.84403887819714
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 2.9762688860843642; SMAPE: 60.642774895132334
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 3.4124278063114746; SMAPE: 64.72280637797198
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 3.129072730998677; SMAPE: 62.03952311772135
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 3.1000876825666546; SMAPE: 61.48091645384367
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 3.1886281187598655; SMAPE: 62.87465293588064
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 3.162561574047898; SMAPE: 62.229360953407756
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 3.287372490997379; SMAPE: 63.36140250616364
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 3.166079014443501; SMAPE: 61.9289948490092
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 3.181595472320799; SMAPE: 62.342184676183365

updrs_2: 961 samples in training, 107 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 4.121301717319867; SMAPE: 89.91677730886568
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 3.313779576537496; SMAPE: 85.06782871505592
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 4.1632725265895765; SMAPE: 90.82721926020831
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 3.7407104975629313; SMAPE: 88.22441640871524
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 3.6583722741433027; SMAPE: 86.8383330160825
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 3.7027689505541805; SMAPE: 86.9704450537545
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 3.930814665954512; SMAPE: 89.57773837916014
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 4.042708934155446; SMAPE: 90.06144119504455
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 3.710467289719626; SMAPE: 86.76979707928434
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 3.850191843841885; SMAPE: 87.89563656105585

updrs_3: 961 samples in training, 107 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 11.299182035148307; SMAPE: 82.347781975263
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 9.461571411694647; SMAPE: 76.50977280055329
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 11.358095294359458; SMAPE: 82.45236619691451
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 10.702255977330246; SMAPE: 80.54046888073889
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 9.695990867049787; SMAPE: 76.56025159569704
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 10.166696099719534; SMAPE: 78.74768766499545
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 11.179674831301703; SMAPE: 82.369868194431
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 11.186686123656372; SMAPE: 82.1074549183587
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 10.036967957276367; SMAPE: 77.69769560389585
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 10.289277050072705; SMAPE: 78.58377411234542

updrs_4: 961 samples in training, 107 samples in testing.
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 2}; MAE: 1.6531633788061881; SMAPE: 160.81442120254604
Parameter: {'n_estimators': 100, 'max_features': 500, 'max_depth': 16}; MAE: 1.5223144960441246; SMAPE: 157.31156402021222
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 2}; MAE: 1.6395699379685151; SMAPE: 160.99712459918254
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 1.5626837497334225; SMAPE: 159.45069517751375
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 32}; MAE: 1.5514839620722185; SMAPE: 156.74584631446277
Parameter: {'n_estimators': 100, 'max_features': 25, 'max_depth': 8}; MAE: 1.5750952372783849; SMAPE: 159.76501485594906
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 2}; MAE: 1.5909469459877823; SMAPE: 159.98117557515317
Parameter: {'n_estimators': 500, 'max_features': 100, 'max_depth': 2}; MAE: 1.6055879899176024; SMAPE: 160.44726815173885
Parameter: {'n_estimators': 200, 'max_features': 10, 'max_depth': 32}; MAE: 1.581758671947763; SMAPE: 157.43897260169874
Parameter: {'n_estimators': 100, 'max_features': 10, 'max_depth': 8}; MAE: 1.5358987558229666; SMAPE: 159.60914295102359

Overall, the model performs better across all tested parameters with the first dataset ("big_data_imputed"), which is not surprising, since it contains more than 2 times the data as the other set.

In [ ]:
'''
smape_list = []
mae_list = []

for target in targets:
    X = big_data_imputed.drop(columns=targets, axis=1)
    y = big_data_imputed[target]

    for i, (train_index, test_index) in enumerate(gss.split(X, y, groups=X.patient_id)):
    
        X_train = X.loc[train_index]
        y_train = y.loc[train_index]
        X_test = X.loc[test_index]
        y_test = y.loc[test_index]
        
        print(f'{target} Split {i+1}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
        RFR.fit(X_train, y_train)

        y_predict = RFR.predict(X_test)

        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)

        smape_list.append(smape)
        mae_list.append(mae)

        print(f'MAE score for {target}: {mae}')
        print(f'SMAPE score for {target}: {smape}')
        print()

    mae_average = np.mean(mae_list)
    smape_average = np.mean(smape_list)

    print(f'MAE average score: {mae_average}')
    print(f'SMAPE average score: {smape_average}')
    print()

        

'''

In [122]:
params = {'max_iter': [100,200,500],'max_depth': [2,4,8,16,32]}

#HGB does not support max_features as a parameter

random_params = list(ParameterSampler(params, n_iter=10, random_state=0))

random_params

[{'max_iter': 200, 'max_depth': 2},
 {'max_iter': 100, 'max_depth': 8},
 {'max_iter': 500, 'max_depth': 8},
 {'max_iter': 100, 'max_depth': 16},
 {'max_iter': 500, 'max_depth': 32},
 {'max_iter': 200, 'max_depth': 4},
 {'max_iter': 500, 'max_depth': 2},
 {'max_iter': 200, 'max_depth': 32},
 {'max_iter': 200, 'max_depth': 16},
 {'max_iter': 200, 'max_depth': 8}]

In [124]:
#HistGradientBoostingRegressor with big_data_imputed

hgb = HistGradientBoostingRegressor()

X = big_data_imputed.drop(columns=targets, axis=1)

for target in targets:

    y = big_data_imputed[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')

    #Randomly generate a dictionary containing 10 combinations of parameters. 
    
    for params in random_params:
        #fitting and testing
        hgb.set_params(**params)
        hgb.fit(X_train,y_train)    
        y_predict = hgb.predict(X_test)
        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

    print()

updrs_1: 2353 samples in training, 262 samples in testing.
Parameter: {'max_iter': 200, 'max_depth': 2}; MAE: 2.53631746681395; SMAPE: 48.95828064142393
Parameter: {'max_iter': 100, 'max_depth': 8}; MAE: 2.381436647002498; SMAPE: 49.86889024575948
Parameter: {'max_iter': 500, 'max_depth': 8}; MAE: 2.4440337241363843; SMAPE: 52.48259756753589
Parameter: {'max_iter': 100, 'max_depth': 16}; MAE: 2.377019893959594; SMAPE: 50.05473863101337
Parameter: {'max_iter': 500, 'max_depth': 32}; MAE: 2.3677531408160064; SMAPE: 51.92911172637387
Parameter: {'max_iter': 200, 'max_depth': 4}; MAE: 2.377065288367624; SMAPE: 47.953325359569945
Parameter: {'max_iter': 500, 'max_depth': 2}; MAE: 2.414887135932794; SMAPE: 49.04565150239978
Parameter: {'max_iter': 200, 'max_depth': 32}; MAE: 2.334842439309835; SMAPE: 50.727589301539076
Parameter: {'max_iter': 200, 'max_depth': 16}; MAE: 2.4022381486322955; SMAPE: 51.922266182685895
Parameter: {'max_iter': 200, 'max_depth': 8}; MAE: 2.4053721482094335; SMAPE: 51.184708978165936

updrs_2: 2353 samples in training, 262 samples in testing.
Parameter: {'max_iter': 200, 'max_depth': 2}; MAE: 2.733781679320344; SMAPE: 72.66039551189027
Parameter: {'max_iter': 100, 'max_depth': 8}; MAE: 2.2548570656852918; SMAPE: 69.85948673791975
Parameter: {'max_iter': 500, 'max_depth': 8}; MAE: 2.293699990581573; SMAPE: 70.21427114871108
Parameter: {'max_iter': 100, 'max_depth': 16}; MAE: 2.216437821531535; SMAPE: 69.38749894122608
Parameter: {'max_iter': 500, 'max_depth': 32}; MAE: 2.2501852973382466; SMAPE: 69.66457485704936
Parameter: {'max_iter': 200, 'max_depth': 4}; MAE: 2.3994550388672082; SMAPE: 71.94046998054442
Parameter: {'max_iter': 500, 'max_depth': 2}; MAE: 2.479683633385654; SMAPE: 73.02970754275044
Parameter: {'max_iter': 200, 'max_depth': 32}; MAE: 2.2161996709655534; SMAPE: 69.36927903008544
Parameter: {'max_iter': 200, 'max_depth': 16}; MAE: 2.2109667129681143; SMAPE: 68.93754346557137
Parameter: {'max_iter': 200, 'max_depth': 8}; MAE: 2.248485074542843; SMAPE: 69.93591540092542

updrs_3: 2353 samples in training, 262 samples in testing.
Parameter: {'max_iter': 200, 'max_depth': 2}; MAE: 6.773916206853731; SMAPE: 60.66009736293779
Parameter: {'max_iter': 100, 'max_depth': 8}; MAE: 6.1311055992545604; SMAPE: 59.91697055477808
Parameter: {'max_iter': 500, 'max_depth': 8}; MAE: 6.1158782216354775; SMAPE: 60.44399662500065
Parameter: {'max_iter': 100, 'max_depth': 16}; MAE: 6.228544842075397; SMAPE: 61.86881852641481
Parameter: {'max_iter': 500, 'max_depth': 32}; MAE: 6.312762256121173; SMAPE: 61.229210656062186
Parameter: {'max_iter': 200, 'max_depth': 4}; MAE: 6.143048046448728; SMAPE: 60.235183613216684
Parameter: {'max_iter': 500, 'max_depth': 2}; MAE: 6.375185558454517; SMAPE: 59.89332310020272
Parameter: {'max_iter': 200, 'max_depth': 32}; MAE: 6.244796736239584; SMAPE: 61.89149049121166
Parameter: {'max_iter': 200, 'max_depth': 16}; MAE: 6.214877002410514; SMAPE: 60.77845504633167
Parameter: {'max_iter': 200, 'max_depth': 8}; MAE: 6.101423530501057; SMAPE: 59.4117013652597

updrs_4: 2353 samples in training, 262 samples in testing.
Parameter: {'max_iter': 200, 'max_depth': 2}; MAE: 1.080909733619621; SMAPE: 143.99263350701665
Parameter: {'max_iter': 100, 'max_depth': 8}; MAE: 0.910728430462345; SMAPE: 141.33053433839316
Parameter: {'max_iter': 500, 'max_depth': 8}; MAE: 0.9030135360109972; SMAPE: 140.28262702864703
Parameter: {'max_iter': 100, 'max_depth': 16}; MAE: 0.8772586228274633; SMAPE: 141.02058888327412
Parameter: {'max_iter': 500, 'max_depth': 32}; MAE: 0.8852580949615296; SMAPE: 139.56718747622998
Parameter: {'max_iter': 200, 'max_depth': 4}; MAE: 0.943852794553332; SMAPE: 142.72112118533315
Parameter: {'max_iter': 500, 'max_depth': 2}; MAE: 1.0141454583406413; SMAPE: 144.06147682408198
Parameter: {'max_iter': 200, 'max_depth': 32}; MAE: 0.8711259542867457; SMAPE: 139.81614510136876
Parameter: {'max_iter': 200, 'max_depth': 16}; MAE: 0.8801569734003176; SMAPE: 141.07710555775222
Parameter: {'max_iter': 200, 'max_depth': 8}; MAE: 0.874822450582112; SMAPE: 139.72122451030592

In [ ]:
#HistGradientBoostingRegressor with prot_pept_clinical

hgb = HistGradientBoostingRegressor()

X = prot_pept_clinical.drop(columns=targets, axis=1)

for target in targets:

    y = prot_pept_clinical[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')

    #Randomly generate a dictionary containing 10 combinations of parameters. 
    #random_params = ParameterSampler(params, n_iter=10)
    
    for params in random_params:
        #fitting and testing
        hgb.set_params(**params)
        hgb.fit(X_train,y_train)    
        y_predict = hgb.predict(X_test)
        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

    print()

In [125]:
params = {'max_features': [10,25,50,100,200,500],
                 'n_estimators': [100,200,500],
                 'max_depth': [2,4,8,16,32]}

#Randomly generate a dictionary containing 10 combinations of parameters. 
random_params = list(ParameterSampler(params, n_iter=10, random_state=0))

random_params

[{'n_estimators': 500, 'max_features': 10, 'max_depth': 2},
 {'n_estimators': 200, 'max_features': 200, 'max_depth': 2},
 {'n_estimators': 500, 'max_features': 500, 'max_depth': 8},
 {'n_estimators': 500, 'max_features': 25, 'max_depth': 8},
 {'n_estimators': 100, 'max_features': 200, 'max_depth': 16},
 {'n_estimators': 100, 'max_features': 200, 'max_depth': 4},
 {'n_estimators': 100, 'max_features': 100, 'max_depth': 8},
 {'n_estimators': 200, 'max_features': 50, 'max_depth': 8},
 {'n_estimators': 100, 'max_features': 50, 'max_depth': 32},
 {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}]

In [127]:
#ADABOOST REGRESSOR with decision tree regressor
X = big_data_imputed.drop(columns=targets, axis=1)

for target in targets:

    y = big_data_imputed[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
    for params in random_params:
        #fitting and testing
        ada = AdaBoostRegressor(DecisionTreeRegressor(max_features=params['max_features'], max_depth=params['max_depth']), n_estimators=params['n_estimators'])
        ada.fit(X_train,y_train)    
        y_predict = ada.predict(X_test)

        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

    print()

updrs_1: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 5.007405137379064; SMAPE: 71.67871383704116
Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 4.385024500677046; SMAPE: 67.12122413828173
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 2.3948647161422882; SMAPE: 47.68112125775876
Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 2.847859801625089; SMAPE: 52.38680935169516
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 2.407904524299674; SMAPE: 49.274323126261606
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 3.2836188322044744; SMAPE: 57.481348013767594
Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 2.680318974004129; SMAPE: 50.775867867189596
Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 8}; MAE: 2.6976588496817904; SMAPE: 51.00647135213543
Parameter: {'n_estimators': 100, 'max_features': 50, 'max_depth': 32}; MAE: 2.4740458015267177; SMAPE: 51.69619666714542
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}; MAE: 2.5267175572519083; SMAPE: 51.82734386202243

updrs_2: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 5.5420659046474245; SMAPE: 89.7400532568866
Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 5.148788423480596; SMAPE: 87.24292505066276
Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 2.5976483472318463; SMAPE: 70.73257486001603
Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 3.2027316188367996; SMAPE: 76.30140883802932
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 2.09398985020021; SMAPE: 55.194633845863535
Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 4.235490270613174; SMAPE: 82.0747818095646
Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 2.875657511673663; SMAPE: 73.03997963566195

KeyboardInterrupt:

In [138]:
#Tree based XGB Regressor using big_data_imputed

xgbr = xgboost.XGBRegressor()

X = big_data_imputed.drop(columns=targets, axis=1)

for target in targets:

    y = big_data_imputed[target]
    
    X_train, X_test, y_train, y_test = train_test_split(X.drop(columns='visit_id'), y, train_size=0.9, random_state=100) 

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
    for params in random_params:

        xgbr.set_params(**params)
        xgbr.fit(X_train, y_train)

        y_predict = xgbr.predict(X_test)

        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)

        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')
        
    print()

updrs_1: 2353 samples in training, 262 samples in testing.
[17:16:43] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 2.356531773018473; SMAPE: 47.290864708579896
[17:17:21] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 2.3674468513265365; SMAPE: 47.174717218514814
[17:17:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 2.4186681935862278; SMAPE: 48.050301797214075
[17:18:56] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 2.4186681935862278; SMAPE: 48.050301797214075
[17:20:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 2.529508461706511; SMAPE: 49.96847347245339
[17:21:02] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 2.345804457446091; SMAPE: 47.22773866869729
[17:21:16] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 2.4157311832461192; SMAPE: 48.06555818604843
[17:21:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 8}; MAE: 2.41864360962774; SMAPE: 48.0503747711418
[17:22:44] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 50, 'max_depth': 32}; MAE: 2.4780466537211687; SMAPE: 50.12008313884429
[17:23:32] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}; MAE: 2.4780466313125524; SMAPE: 50.120077423499986
updrs_2: 2353 samples in training, 262 samples in testing.
[17:24:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 2.254516744161494; SMAPE: 68.78982740936634
[17:25:15] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 2.285148946255559; SMAPE: 67.79677125832252
[17:25:30] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 2.171227699175889; SMAPE: 63.59677679542142
[17:26:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 2.171227699175889; SMAPE: 63.59677679542142
[17:28:03] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 2.3375835340143047; SMAPE: 67.04097606369595
[17:28:40] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 2.1323600799540228; SMAPE: 65.44567930470991
[17:28:54] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 2.1704139801876208; SMAPE: 63.77768676947908
[17:29:22] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 8}; MAE: 2.171139405551544; SMAPE: 63.598363481761254
[17:30:22] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 50, 'max_depth': 32}; MAE: 2.220781468065591; SMAPE: 66.92010446186639
[17:31:08] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}; MAE: 2.2207814674364146; SMAPE: 66.92010430066017
updrs_3: 2353 samples in training, 262 samples in testing.
[17:32:11] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 6.1914462199736455; SMAPE: 63.07109459083588
[17:32:47] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 6.2864070154971445; SMAPE: 61.099874513371624
[17:33:02] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 6.067001684189506; SMAPE: 61.17062274413062
[17:34:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 6.067001684189506; SMAPE: 61.17062274413062
[17:35:44] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 6.491491655880581; SMAPE: 62.62992363796719
[17:36:24] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 6.242865482669732; SMAPE: 61.174865170892275
[17:36:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 6.062770040674842; SMAPE: 61.1330038334971
[17:37:06] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 8}; MAE: 6.067024672557816; SMAPE: 61.172846890586186
[17:38:05] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 50, 'max_depth': 32}; MAE: 6.310455611719582; SMAPE: 62.42228534946346
[17:38:56] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}; MAE: 6.3104556271255055; SMAPE: 62.42228482693102
updrs_4: 2353 samples in training, 262 samples in testing.
[17:40:04] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 10, 'max_depth': 2}; MAE: 1.132259087777011; SMAPE: 150.24869437522247
[17:40:40] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 200, 'max_depth': 2}; MAE: 1.1057143777302072; SMAPE: 149.50214731848442
[17:40:54] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 8}; MAE: 1.0980939143074353; SMAPE: 152.36539715773122
[17:42:03] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 25, 'max_depth': 8}; MAE: 1.0980939143074353; SMAPE: 152.36539715773122
[17:43:12] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 16}; MAE: 1.0405660390355578; SMAPE: 149.5449702414393
[17:43:44] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 200, 'max_depth': 4}; MAE: 1.008712544271027; SMAPE: 149.25943658629183
[17:43:58] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 100, 'max_depth': 8}; MAE: 1.0989743610945413; SMAPE: 152.6057979176358
[17:44:27] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 200, 'max_features': 50, 'max_depth': 8}; MAE: 1.0980939394358158; SMAPE: 152.36538958717279
[17:45:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 100, 'max_features': 50, 'max_depth': 32}; MAE: 1.0568710413834803; SMAPE: 148.45683096812675
[17:46:10] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "max_features" } are not used.

Parameter: {'n_estimators': 500, 'max_features': 500, 'max_depth': 32}; MAE: 1.056871041386896; SMAPE: 148.45683096812675