In [2]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import learning_curve, validation_curve


def plot_learning_curve(
    estimator,
    X,
    y,
    title="Learning Curve",
    ylim=None,
    cv=None,
    n_jobs=None,
    train_sizes=np.linspace(0.1, 1.0, 5),
    scoring=None,
):
    """
    This is a custom modification of the code present here:
    https://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html
    
    Generate 3 plots: the test and training learning curve, the training
    samples vs fit times curve, the fit times vs score curve.

    Parameters
    ----------
    estimator : object type that implements the "fit" and "predict" methods
        An object of that type which is cloned for each validation.

    title : string
        Title for the chart.

    X : array-like, shape (n_samples, n_features)
        Training vector, where n_samples is the number of samples and
        n_features is the number of features.

    y : array-like, shape (n_samples) or (n_samples, n_features), optional
        Target relative to X for classification or regression;
        None for unsupervised learning.

    ylim : tuple, shape (ymin, ymax), optional
        Defines minimum and maximum yvalues plotted.

    cv : int, cross-validation generator or an iterable, optional
        Determines the cross-validation splitting strategy.
        Possible inputs for cv are:
          - None, to use the default 5-fold cross-validation,
          - integer, to specify the number of folds.
          - :term:`CV splitter`,
          - An iterable yielding (train, test) splits as arrays of indices.

        For integer/None inputs, if ``y`` is binary or multiclass,
        :class:`StratifiedKFold` used. If the estimator is not a classifier
        or if ``y`` is neither binary nor multiclass, :class:`KFold` is used.

        Refer :ref:`User Guide <cross_validation>` for the various
        cross-validators that can be used here.

    n_jobs : int or None, optional (default=None)
        Number of jobs to run in parallel.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.

    train_sizes : array-like, shape (n_ticks,), dtype float or int
        Relative or absolute numbers of training examples that will be used to
        generate the learning curve. If the dtype is float, it is regarded as a
        fraction of the maximum size of the training set (that is determined
        by the selected validation method), i.e. it has to be within (0, 1].
        Otherwise it is interpreted as absolute sizes of the training sets.
        Note that for classification the number of samples usually have to
        be big enough to contain at least one sample from each class.
        (default: np.linspace(0.1, 1.0, 5))

    scoring: string, callable or None, optional, default: None
        A string (see model evaluation documentation) or a scorer callable object / function
        with signature scorer(estimator, X, y).
    """

    fig, axes = plt.subplots(1, 1, figsize=(10, 5))

    axes.set_title(title)
    if ylim is not None:
        axes.set_ylim(*ylim)
    axes.set_xlabel("Training examples")
    axes.set_ylabel("Score")

    train_sizes, train_scores, test_scores = learning_curve(
        estimator, X, y, cv=cv, n_jobs=n_jobs, train_sizes=train_sizes, scoring=scoring
    )
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)

    # Plot learning curve
    axes.grid(True)
    axes.fill_between(
        train_sizes,
        train_scores_mean - train_scores_std,
        train_scores_mean + train_scores_std,
        alpha=0.1,
        color="r",
    )
    axes.fill_between(
        train_sizes,
        test_scores_mean - test_scores_std,
        test_scores_mean + test_scores_std,
        alpha=0.1,
        color="g",
    )
    axes.plot(train_sizes, train_scores_mean, "o-", color="r", label="Training score")
    axes.plot(
        train_sizes, test_scores_mean, "o-", color="g", label="Cross-validation score"
    )
    axes.legend(loc="best")
    return fig, axes


def plot_validation_curve(
    estimator,
    X,
    y,
    ylim=None,
    cv=None,
    n_jobs=None,
    param_name=None,
    param_range=None,
    scoring=None,
):
    """
    referred from :
    https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics

    :param estimator: object type that implements the "fit" and "predict" methods
        An object of that type which is cloned for each validation.
    :param X: array-like, shape (n_samples, n_features)
        Training vector, where n_samples is the number of samples and
        n_features is the number of features.
    :param y: array-like, shape (n_samples) or (n_samples, n_features), optional
        Target relative to X for classification or regression;
        None for unsupervised learning.
    :param ylim: tuple, shape (ymin, ymax), optional
        Defines minimum and maximum yvalues plotted.
    :param cv: int, cross-validation generator or an iterable, optional
        Determines the cross-validation splitting strategy.
        Possible inputs for cv are:
          - None, to use the default 5-fold cross-validation,
          - integer, to specify the number of folds.
          - :term:`CV splitter`,
          - An iterable yielding (train, test) splits as arrays of indices.

        For integer/None inputs, if ``y`` is binary or multiclass,
        :class:`StratifiedKFold` used. If the estimator is not a classifier
        or if ``y`` is neither binary nor multiclass, :class:`KFold` is used.

        Refer :ref:`User Guide <cross_validation>` for the various
        cross-validators that can be used here.
    :param n_jobs: int or None, optional (default=None)
        Number of jobs to run in parallel.
        ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
        ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
        for more details.
    :param param_range: array-like, shape (n_values,)
    The values of the parameter that will be evaluated.
    :param param_name: string
    Name of the parameter that will be varied.
    :param scoring: string, callable or None, optional, default: None
        A string (see model evaluation documentation) or a scorer callable object / function
        with signature scorer(estimator, X, y).
    :return: fig


    """
    train_scores, test_scores = validation_curve(
        estimator,
        X,
        y,
        param_name=param_name,
        param_range=param_range,
        scoring=scoring,
        n_jobs=n_jobs,
        cv=cv,
    )
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)

    fig, axes = plt.subplots(1, 1, figsize=(10, 5))
    axes.grid(True)
    axes.set_title(f"Validation Curve with {estimator.__class__}")
    axes.set_xlabel(f"{param_name}")
    axes.set_ylabel(f"{scoring}")
    if ylim is not None:
        axes.set_ylim(*ylim)

    lw = 2
    axes.plot(
        param_range,
        train_scores_mean,
        label="Training score",
        color="darkorange",
        lw=lw,
    )
    axes.fill_between(
        param_range,
        train_scores_mean - train_scores_std,
        train_scores_mean + train_scores_std,
        alpha=0.2,
        color="darkorange",
        lw=lw,
    )
    axes.plot(
        param_range,
        test_scores_mean,
        label="Cross-validation score",
        color="navy",
        lw=lw,
    )
    axes.fill_between(
        param_range,
        test_scores_mean - test_scores_std,
        test_scores_mean + test_scores_std,
        alpha=0.2,
        color="navy",
        lw=lw,
    )
    axes.legend(loc="best")
    return fig, axes

In [3]:
import pandas as pd
import seaborn as sns
sns.set()

from pathlib import Path

# classifiers we will use
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, HistGradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
import xgboost

#imputers
from sklearn.impute import SimpleImputer, KNNImputer

# model selection bits
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split, ParameterGrid, ParameterSampler
#from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedShuffleSplit, GroupShuffleSplit, GroupKFold, StratifiedKFold
from sklearn.model_selection import learning_curve, validation_curve

# evaluation
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error


import scipy

Let's load all the data.

In [4]:
# Load the competition datasets into Pandas DataFrame
path = Path("/Users/13392/Documents/amp-parkinsons-disease-progression-prediction")
proteins = pd.read_csv(path/"train_proteins.csv")
peptides = pd.read_csv(path/"train_peptides.csv")
clinical = pd.read_csv(path/"train_clinical_data.csv")
supplemental = pd.read_csv(path/"supplemental_clinical_data.csv")

As discussed previously, we are dropping the entire "medication status" column, because:
1) Over 50% values are NaN. 
2) the test dataset will not have this data.

In [5]:
# drop the "medication status" column (due to over 50% NaN values), keep a copy of the original
# for later access. 
clinical_copy = clinical.copy()

clinical.drop('upd23b_clinical_state_on_medication', axis=1, inplace=True)

In [6]:

targets = ['updrs_1', 'updrs_2', 'updrs_3', 'updrs_4']
ids = ['patient_id', 'visit_id']
month = ['visit_month']

Let's see how much remains of 'NaN'

In [7]:
print(f'NaN value count:\n{clinical.isna().sum()}')
clinical

NaN value count:
visit_id          0
patient_id        0
visit_month       0
updrs_1           1
updrs_2           2
updrs_3          25
updrs_4        1038
dtype: int64

      visit_id  patient_id  visit_month  updrs_1  updrs_2  updrs_3  updrs_4
0         55_0          55            0     10.0      6.0     15.0      NaN
1         55_3          55            3     10.0      7.0     25.0      NaN
2         55_6          55            6      8.0     10.0     34.0      NaN
3         55_9          55            9      8.0      9.0     30.0      0.0
4        55_12          55           12     10.0     10.0     41.0      0.0
...        ...         ...          ...      ...      ...      ...      ...
2610  65043_48       65043           48      7.0      6.0     13.0      0.0
2611  65043_54       65043           54      4.0      8.0     11.0      1.0
2612  65043_60       65043           60      6.0      6.0     16.0      1.0
2613  65043_72       65043           72      3.0      9.0     14.0      1.0
2614  65043_84       65043           84      7.0      9.0     20.0      3.0

[2615 rows x 7 columns]

Significant, but manageable with some kind of imputation. Let's count the number of visits each patient has on record.

In [8]:
cols = ['patient_id', 'num_entries']
patient_list = clinical.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(clinical[clinical.patient_id==patient].index)

    n_list.append(n)
    p_list.append(patient)

df_visits_by_patient = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_visits_by_patient

     patient_id  num_entries
0            55           13
1           942           15
2          1517           10
3          1923            7
4          2660            6
..          ...          ...
243       63875            9
244       63889           10
245       64669           15
246       64674           16
247       65043           15

[248 rows x 2 columns]

NaN values in the "Proteins"  and "Peptides" datasets.

In [9]:
print(f'NaN value count:\n{proteins.isna().sum()}')
proteins

NaN value count:
visit_id       0
visit_month    0
patient_id     0
UniProt        0
NPX            0
dtype: int64

         visit_id  visit_month  patient_id UniProt       NPX
0            55_0            0          55  O00391   11254.3
1            55_0            0          55  O00533  732430.0
2            55_0            0          55  O00584   39585.8
3            55_0            0          55  O14498   41526.9
4            55_0            0          55  O14773   31238.0
...           ...          ...         ...     ...       ...
232736  58648_108          108       58648  Q9UBX5   27387.8
232737  58648_108          108       58648  Q9UHG2  369437.0
232738  58648_108          108       58648  Q9UKV8  105830.0
232739  58648_108          108       58648  Q9Y646   21257.6
232740  58648_108          108       58648  Q9Y6R7   17953.1

[232741 rows x 5 columns]

In [10]:
print(f'NaN value count:\n{peptides.isna().sum()}')

peptides

NaN value count:
visit_id            0
visit_month         0
patient_id          0
UniProt             0
Peptide             0
PeptideAbundance    0
dtype: int64

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.30
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.00
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.00
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.90
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.70
...,...,...,...,...,...,...
981829,58648_108,108,58648,Q9UHG2,ILAGSADSEGVAAPR,202820.00
981830,58648_108,108,58648,Q9UKV8,SGNIPAGTTVDTK,105830.00
981831,58648_108,108,58648,Q9Y646,LALLVDTVGPR,21257.60
981832,58648_108,108,58648,Q9Y6R7,AGC(UniMod_4)VAESTAVC(UniMod_4)R,5127.26
981833,58648_108,108,58648,Q9Y6R7,GATTSPGVYELSSR,12825.90

Great! No NaN values at all in them. Let's find out how many of each patient's visits have protein/peptide data.

In [11]:
cols = ['patient_id', 'num_entries_protein']
patient_list = proteins.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(proteins[proteins.patient_id==patient].visit_id.unique())

    n_list.append(n)
    p_list.append(patient)

df_recorded_visits_protein = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_recorded_visits_protein

     patient_id  num_entries_protein
0            55                    4
1          1517                    4
2          1923                    3
3          2660                    5
4          3636                    3
..          ...                  ...
243       52998                    3
244       54979                    3
245       58597                    3
246        7508                    3
247       12931                    4

[248 rows x 2 columns]

In [12]:
cols = ['patient_id', 'num_entries_peptide']
patient_list = peptides.patient_id.unique()
n_list = []
p_list = []

for patient in patient_list:
    n=len(peptides[peptides.patient_id==patient].visit_id.unique())

    n_list.append(n)
    p_list.append(patient)

df_recorded_visits_peptide = pd.DataFrame(list(zip(p_list, n_list)), columns=cols)

df_recorded_visits_peptide

     patient_id  num_entries_peptide
0            55                    4
1          1517                    4
2          1923                    3
3          2660                    5
4          3636                    3
..          ...                  ...
243       52998                    3
244       54979                    3
245       58597                    3
246        7508                    3
247       12931                    4

[248 rows x 2 columns]

In [13]:
df = pd.merge(df_recorded_visits_protein, df_recorded_visits_peptide, on='patient_id', how='left')
df = pd.merge(df_visits_by_patient, df, on='patient_id', how='left')
df.head(10)

   patient_id  num_entries  num_entries_protein  num_entries_peptide
0          55           13                    4                    4
1         942           15                    4                    4
2        1517           10                    4                    4
3        1923            7                    3                    3
4        2660            6                    5                    5
5        3636           14                    3                    3
6        3863            9                    5                    5
7        4161           12                    6                    6
8        4172            8                    7                    7
9        4923           11                    5                    5

It's not looking great - we can clearly see that, for most of the patients, only 1/2 to 1/3 of the visits contain protein and peptide records.

Something to think about for later on...

Now we will "pivot" the datasets so the unique coding for each protein/peptide becomes a feature for the models to learn on.

In [14]:
df_proteins = proteins.pivot(index=['patient_id', 'visit_month', 'visit_id'], columns='UniProt', values='NPX').rename_axis(columns=None).reset_index()

df_peptides = peptides.pivot(index=['patient_id', 'visit_month', 'visit_id'], columns='Peptide', values='PeptideAbundance').rename_axis(columns=None).reset_index()

In [15]:
df_proteins

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
0,55,0,55_0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,365475.0,35528.00,97005.6,23122.5,60912.6,408698.0,NaN,29758.8,23833.7,18953.5
1,55,6,55_6,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,405676.0,30332.60,109174.0,23499.8,51655.8,369870.0,NaN,22935.2,17722.5,16642.7
2,55,12,55_12,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,303953.0,43026.20,114921.0,21860.1,61598.2,318553.0,65762.6,29193.4,28536.1,19290.9
3,55,36,55_36,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,303597.0,48188.40,109794.0,23930.6,70223.5,377550.0,74976.1,31732.6,22186.5,21717.1
4,942,6,942_6,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,253373.0,27431.80,93796.7,17450.9,21299.1,306621.0,82335.5,24018.7,18939.5,15251.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,NaN,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,260021.0,7139.93,104277.0,10500.0,21944.2,136725.0,62217.5,NaN,10287.7,13848.2
1109,65043,0,65043_0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,186414.0,25897.80,NaN,21480.7,57364.0,416142.0,37584.6,NaN,28346.5,35617.5
1110,65043,12,65043_12,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,301343.0,22343.40,105626.0,20500.8,54011.2,380072.0,40588.9,NaN,17035.7,37064.2
1111,65043,24,65043_24,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,300439.0,52143.60,139291.0,19449.2,66569.9,300948.0,36150.4,NaN,21286.3,39587.9
1112,65043,48,65043_48,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,223136.0,21659.90,116470.0,14073.3,48796.4,320821.0,39046.7,NaN,20198.8,39535.0

In [16]:
df_peptides

,patient_id,visit_month,visit_id,AADDTWEPFASGK,AAFGQGSGPIMLDEVQC(UniMod_4)TGTEASLADC(UniMod_4)K,AAFTEC(UniMod_4)C(UniMod_4)QAADK,AANEVSSADVK,AATGEC(UniMod_4)TATVGKR,AATVGSLAGQPLQER,AAVYHHFISDGVR,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55,0,55_0,8984260.0,53855.6,8579740.0,NaN,19735.4,114400.0,46371.1,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55,6,55_6,8279770.0,45251.9,8655890.0,49927.5,23820.4,90539.4,38652.4,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55,12,55_12,8382390.0,53000.9,8995640.0,45519.2,17813.5,147312.0,45840.9,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55,36,55_36,10671500.0,58108.4,9985420.0,52374.0,19373.3,64356.1,49793.2,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942,6,942_6,6177730.0,42682.6,3596660.0,25698.8,17130.6,86471.5,41007.9,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,7083630.0,35656.1,6273100.0,NaN,NaN,15479.2,NaN,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043,0,65043_0,7818630.0,95033.0,5119260.0,57483.7,11610.0,270739.0,42527.3,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043,12,65043_12,8070390.0,76532.7,8233520.0,54260.6,11631.9,230169.0,42255.5,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043,24,65043_24,7608150.0,75401.6,9168030.0,NaN,13313.9,220202.0,46914.1,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043,48,65043_48,7187220.0,72262.2,8551210.0,NaN,12365.3,197981.0,42311.3,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

Because not all 1000+ proteins and peptides are measured at each recorded visit, some NaN values should be now expected.

In [17]:
df_proteins.isna().sum().sort_values(ascending=False)

Q99829        624
Q99832        507
Q562R1        497
P01780        459
Q6UX71        452
             ...
P02766          0
P02765          0
P02751          0
P02749          0
patient_id      0
Length: 230, dtype: int64

In [18]:
df_peptides.isna().sum().sort_values(ascending=False)

QALPQVR                   624
EPQVYTLPPSRDELTK          550
TPSGLYLGTC(UniMod_4)ER    523
SLEDQVEMLR                514
HYEGSTVPEK                508
                         ...
visit_id                    0
IPTTFENGR                   0
AIGYLNTGYQR                 0
NILTSNNIDVK                 0
patient_id                  0
Length: 971, dtype: int64

We are going to combine the protein and peptide data, and check once again the status of NaN values. They should remain unchanged because we haven't done anything with them.

In [19]:
prot_pept_df = pd.merge(df_proteins, df_peptides, on=['patient_id','visit_month','visit_id'], how='left')
prot_pept_df

,patient_id,visit_month,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55,0,55_0,11254.3,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55,6,55_6,13163.6,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
2,55,12,55_12,15257.6,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
3,55,36,55_36,13530.8,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
4,942,6,942_6,11218.7,399518.0,20581.0,31290.9,6173.58,2564.37,160526.0,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,64674,84,64674_84,NaN,190487.0,24907.9,18543.1,10124.90,2308.71,62095.4,...,203523.0,3835.58,4901220.0,40325.9,335625.0,49250.4,64076.3,667993.0,38472.5,21949.1
1109,65043,0,65043_0,13472.4,927954.0,42661.5,43663.2,20071.30,3278.88,266339.0,...,257361.0,18316.60,2514660.0,51444.6,530245.0,156148.0,157548.0,336625.0,48423.2,10915.8
1110,65043,12,65043_12,14134.9,984651.0,28990.8,42440.9,25357.40,3267.66,270575.0,...,230437.0,16703.20,2481560.0,44405.0,543391.0,159828.0,161207.0,330337.0,45368.1,19023.2
1111,65043,24,65043_24,14659.5,1062020.0,46440.4,38293.0,21971.80,3990.34,221358.0,...,251228.0,18326.20,2939460.0,50588.2,597869.0,148032.0,192857.0,388125.0,65101.0,20790.1
1112,65043,48,65043_48,10589.6,902434.0,44890.8,38771.5,20188.30,3137.07,203487.0,...,233567.0,14478.30,3185530.0,48793.0,501159.0,133992.0,170146.0,359045.0,45780.0,17370.6

In [20]:
prot_pept_df.isna().sum().sort_values(ascending=False)

Q99829                    624
QALPQVR                   624
EPQVYTLPPSRDELTK          550
TPSGLYLGTC(UniMod_4)ER    523
SLEDQVEMLR                514
                         ...
P41222                      0
P02774                      0
P02787                      0
P02790                      0
patient_id                  0
Length: 1198, dtype: int64

In [21]:
patient_list=prot_pept_df['patient_id'].unique()
patient_list

array([   55,   942,  1517,  1923,  2660,  3636,  3863,  4161,  4172,
        4923,  5027,  5036,  5178,  5645,  5742,  6054,  6211,  6420,
        7051,  7117,  7151,  7265,  7508,  7568,  7832,  7886,  8344,
        8699, 10053, 10138, 10174, 10541, 10715, 10718, 11459, 11686,
       11928, 12516, 12636, 12703, 12755, 12931, 13360, 13368, 13618,
       13804, 13852, 13968, 14035, 14124, 14242, 14270, 14344, 14450,
       14811, 15009, 15245, 15504, 15590, 16238, 16347, 16566, 16574,
       16778, 16931, 17154, 17201, 17414, 17727, 18183, 18204, 18553,
       18560, 19088, 20212, 20216, 20352, 20404, 20460, 20581, 20664,
       20707, 20791, 20792, 21126, 21537, 21729, 22126, 22623, 23175,
       23192, 23244, 23391, 23636, 24278, 24690, 24818, 24820, 24911,
       25562, 25739, 25750, 25827, 25911, 26005, 26104, 26210, 26809,
       27079, 27300, 27464, 27468, 27607, 27715, 27872, 27893, 27971,
       27987, 28327, 28342, 28818, 29313, 29417, 30119, 30155, 30416,
       30894, 30951, 31121, 31154, 31270, 31693, 33108, 33548, 33558,
       34182, 35231, 35465, 35477, 35675, 35696, 36797, 37220, 37312,
       37566, 38419, 39144, 39719, 40022, 40200, 40340, 40650, 40751,
       40798, 40874, 40876, 40967, 40980, 41444, 41617, 41628, 41871,
       41883, 41930, 42003, 42086, 42385, 42579, 44001, 44154, 44682,
       44789, 45161, 45181, 45662, 46837, 47103, 47171, 47513, 47881,
       48780, 48928, 49239, 49672, 49683, 49995, 50611, 50907, 51243,
       51708, 51846, 51879, 51893, 51899, 52119, 52266, 52998, 53103,
       54095, 54406, 54979, 55096, 55240, 55256, 55302, 55662, 56073,
       56075, 56119, 56317, 56538, 56675, 56691, 56727, 57009, 57108,
       57321, 57416, 57468, 57478, 57507, 57646, 58189, 58270, 58597,
       58648, 58653, 58674, 58823, 59550, 59574, 60170, 60326, 60443,
       60788, 60803, 61503, 61974, 62329, 62437, 62723, 62732, 62792,
       63875, 63889, 64669, 64674, 65043], dtype=int64)

Here there are two ways to impute the data:
1) combine "clinical" and "prot_pept_df" first then impute, or
2) first impute them separately, then combine. 

We'll do both and see how the outcomes differ.

I am choosing to use sklearn's KNN imputer because, with a bit of clever coding, I can use all the availble data for a given patient to impute missing values.

In [22]:
# Method 1: Combine first, impute next. 
big_data = pd.merge(clinical, prot_pept_df, on=['patient_id','visit_month','visit_id'], how='left')
big_data.head(30)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,55_0,55,0,10.0,6.0,15.0,NaN,11254.30,732430.0,39585.8,...,201158.0,16492.30,3810270.0,106894.0,580667.0,131155.0,165851.0,437305.0,46289.2,14898.4
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,13163.60,630465.0,35220.8,...,171079.0,13198.80,4119520.0,113385.0,514861.0,103512.0,144607.0,457891.0,40047.7,20703.9
3,55_9,55,9,8.0,9.0,30.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55_12,55,12,10.0,10.0,41.0,0.0,15257.60,815083.0,41650.9,...,231772.0,17873.80,5474140.0,116286.0,711815.0,136943.0,181763.0,452253.0,54725.1,21841.1
5,55_18,55,18,7.0,13.0,38.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,55_24,55,24,16.0,9.0,49.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,55_30,55,30,14.0,13.0,49.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,55_36,55,36,17.0,18.0,51.0,0.0,13530.80,753832.0,43048.9,...,185290.0,18580.50,2659660.0,90936.9,679163.0,128593.0,203680.0,498621.0,52792.7,13973.7
9,55_42,55,42,12.0,20.0,41.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,55_48,55,48,17.0,16.0,52.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,55_54,55,54,12.0,18.0,51.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,55_60,55,60,23.0,21.0,56.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,942_0,942,0,3.0,2.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,942_3,942,3,7.0,2.0,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,942_6,942,6,8.0,2.0,21.0,NaN,11218.70,399518.0,20581.0,...,226314.0,6399.80,NaN,57571.4,480951.0,80001.2,79661.9,573300.0,48005.8,15674.1
16,942_12,942,12,5.0,2.0,25.0,0.0,6757.32,360858.0,18367.6,...,173259.0,4767.63,374307.0,35767.3,250397.0,65966.9,77976.8,486239.0,45032.7,NaN
17,942_18,942,18,6.0,5.0,18.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,942_24,942,24,2.0,3.0,23.0,NaN,NaN,352722.0,22834.9,...,185428.0,5554.53,NaN,64049.8,479473.0,68505.7,74483.1,561398.0,52916.4,21847.6
19,942_30,942,30,4.0,4.0,19.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,942_36,942,36,2.0,4.0,19.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,942_42,942,42,2.0,3.0,32.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,942_48,942,48,2.0,6.0,35.0,0.0,11627.80,251820.0,22046.5,...,137611.0,6310.09,NaN,28008.8,231359.0,63265.8,64601.8,632782.0,51123.7,20700.3
23,942_54,942,54,2.0,4.0,26.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,942_60,942,60,2.0,5.0,31.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,942_72,942,72,4.0,2.0,33.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,942_84,942,84,4.0,8.0,26.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,942_96,942,96,6.0,9.0,39.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1517_0,1517,0,11.0,6.0,25.0,5.0,11648.90,419015.0,35053.8,...,210259.0,6789.37,3956620.0,101069.0,767457.0,65663.2,113977.0,468234.0,44771.3,20695.0
29,1517_6,1517,6,17.0,4.0,30.0,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#imputing
big_data_patient_list = big_data.patient_id.unique()
data_imputed_list = []
for patient_id in big_data_patient_list:
    masked_data = big_data[big_data['patient_id']==patient_id]
    num_rows = len(masked_data.index)
    knn = KNNImputer(missing_values=np.nan, keep_empty_features=True, n_neighbors=num_rows)
    X_knn = knn.fit_transform(masked_data)
    X_knn_df = pd.DataFrame(X_knn, columns = big_data.columns)
    data_imputed_list.append(X_knn_df)

big_data_imputed = pd.concat(data_imputed_list)

In [24]:
big_data_imputed.head(10)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,550.0,55.0,0.0,10.0,6.0,15.0,0.0,11254.300,732430.0,39585.8,...,201158.00,16492.30,3810270.0,106894.000,580667.0,131155.00,165851.00,437305.0,46289.200,14898.400
1,553.0,55.0,3.0,10.0,7.0,25.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
2,556.0,55.0,6.0,8.0,10.0,34.0,0.0,13163.600,630465.0,35220.8,...,171079.00,13198.80,4119520.0,113385.000,514861.0,103512.00,144607.00,457891.0,40047.700,20703.900
3,559.0,55.0,9.0,8.0,9.0,30.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
4,5512.0,55.0,12.0,10.0,10.0,41.0,0.0,15257.600,815083.0,41650.9,...,231772.00,17873.80,5474140.0,116286.000,711815.0,136943.00,181763.00,452253.0,54725.100,21841.100
5,5518.0,55.0,18.0,7.0,13.0,38.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
6,5524.0,55.0,24.0,16.0,9.0,49.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
7,5530.0,55.0,30.0,14.0,13.0,49.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
8,5536.0,55.0,36.0,17.0,18.0,51.0,0.0,13530.800,753832.0,43048.9,...,185290.00,18580.50,2659660.0,90936.900,679163.0,128593.00,203680.00,498621.0,52792.700,13973.700
9,5542.0,55.0,42.0,12.0,20.0,41.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275

In [25]:
#resetting index to match original.
big_data_imputed.reset_index(inplace=True, drop=True)
big_data_imputed.head(10)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,O00391,O00533,O00584,...,YSLTYIYTGLSK,YTTEIIK,YVGGQEHFAHLLILR,YVM(UniMod_35)LPVADQDQC(UniMod_4)IR,YVMLPVADQDQC(UniMod_4)IR,YVNKEIQNAVNGVK,YWGVASFLQK,YYC(UniMod_4)FQGNQFLR,YYTYLIMNK,YYWGGQYTWDMAK
0,550.0,55.0,0.0,10.0,6.0,15.0,0.0,11254.300,732430.0,39585.8,...,201158.00,16492.30,3810270.0,106894.000,580667.0,131155.00,165851.00,437305.0,46289.200,14898.400
1,553.0,55.0,3.0,10.0,7.0,25.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
2,556.0,55.0,6.0,8.0,10.0,34.0,0.0,13163.600,630465.0,35220.8,...,171079.00,13198.80,4119520.0,113385.000,514861.0,103512.00,144607.00,457891.0,40047.700,20703.900
3,559.0,55.0,9.0,8.0,9.0,30.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
4,5512.0,55.0,12.0,10.0,10.0,41.0,0.0,15257.600,815083.0,41650.9,...,231772.00,17873.80,5474140.0,116286.000,711815.0,136943.00,181763.00,452253.0,54725.100,21841.100
5,5518.0,55.0,18.0,7.0,13.0,38.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
6,5524.0,55.0,24.0,16.0,9.0,49.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
7,5530.0,55.0,30.0,14.0,13.0,49.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275
8,5536.0,55.0,36.0,17.0,18.0,51.0,0.0,13530.800,753832.0,43048.9,...,185290.00,18580.50,2659660.0,90936.900,679163.0,128593.00,203680.00,498621.0,52792.700,13973.700
9,5542.0,55.0,42.0,12.0,20.0,41.0,0.0,13301.575,732952.5,39876.6,...,197324.75,16536.35,4015897.5,106875.475,621626.5,125050.75,173975.25,461517.5,48463.675,17854.275

In [26]:
#relabel patient id, visit id, and visit month.
ls = [ids, month]
for col in ls:
    big_data_imputed[col] = big_data[col]

In [29]:
def smape_score(actual, predicted):
    sum = 0
    for a, p in zip(actual, predicted):
        if a==0 and p==0:
            pass
        else:
            sum += (np.abs(p-a))/(np.abs(p)+np.abs(a))*2
    return sum/len(actual)*100

In [47]:

params = {'n_estimators': np.arange(100,500,100),
                 'max_depth': np.arange(20,50,5), 
                 'learning_rate': np.arange(0.1,3,0.5)}

random_params = list(ParameterSampler(params, n_iter=5, random_state=0))

random_params

[{'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1},
 {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6},
 {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1},
 {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6},
 {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}]

I'll first save these pseudo randomly generated parameters in a dataframe, for later referencing.

In [48]:
params_df = pd.DataFrame(random_params)
params_df

   n_estimators  max_depth  learning_rate
0           400         25            0.1
1           200         40            1.6
2           200         20            2.1
3           300         20            0.6
4           300         35            2.1

In [49]:
#patient_id stratefied splitting
'''
smape_list = []
mae_list = []

for target in targets:
    X = big_data_imputed.drop(columns=targets, axis=1)
    y = big_data_imputed[target]

    for i, (train_index, test_index) in enumerate(gss.split(X, y, groups=X.patient_id)):
    
        X_train = X.loc[train_index]
        y_train = y.loc[train_index]
        X_test = X.loc[test_index]
        y_test = y.loc[test_index]
        
        print(f'{target} Split {i+1}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
        RFR.fit(X_train, y_train)

        y_predict = RFR.predict(X_test)

        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)

        smape_list.append(smape)
        mae_list.append(mae)

        print(f'MAE score for {target}: {mae}')
        print(f'SMAPE score for {target}: {smape}')
        print()

    mae_average = np.mean(mae_list)
    smape_average = np.mean(smape_list)

    print(f'MAE average score: {mae_average}')
    print(f'SMAPE average score: {smape_average}')
    print()

        

'''

"\nsmape_list = []\nmae_list = []\n\nfor target in targets:\n    X = big_data_imputed.drop(columns=targets, axis=1)\n    y = big_data_imputed[target]\n\n    for i, (train_index, test_index) in enumerate(gss.split(X, y, groups=X.patient_id)):\n    \n        X_train = X.loc[train_index]\n        y_train = y.loc[train_index]\n        X_test = X.loc[test_index]\n        y_test = y.loc[test_index]\n        \n        print(f'{target} Split {i+1}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')\n    \n        RFR.fit(X_train, y_train)\n\n        y_predict = RFR.predict(X_test)\n\n        mae = mean_absolute_error(y_test, y_predict)\n        smape = smape_score(y_test, y_predict)\n\n        smape_list.append(smape)\n        mae_list.append(mae)\n\n        print(f'MAE score for {target}: {mae}')\n        print(f'SMAPE score for {target}: {smape}')\n        print()\n\n    mae_average = np.mean(mae_list)\n    smape_average = np.mean(smape_list)\n\n    print(f'MAE average score: {mae_average}')\n    print(f'SMAPE average score: {smape_average}')\n    print()\n\n        \n\n"

In [50]:
random_params

[{'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1},
 {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6},
 {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1},
 {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6},
 {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}]

In [51]:
#ADABOOST REGRESSOR with decision tree regressor
X = big_data_imputed.drop(columns=targets, axis=1)

smape_list_ada = []
mae_list_ada = []
actual_depth_ada = []


for target in targets:

    y = big_data_imputed[target]
    
    #splitting training and testing data. 
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, random_state=0)

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
    for params in random_params:
        #fitting and testing
        dtr = DecisionTreeRegressor(max_depth=params['max_depth'])
        ada = AdaBoostRegressor(dtr, n_estimators=params['n_estimators'], learning_rate=params['learning_rate'])
        ada.fit(X_train,y_train)    
        y_predict = ada.predict(X_test)

        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')

        #saving scores in their lists
        mae_list_ada.append(mae)
        smape_list_ada.append(smape)

        max_depth = list()
        for tree in ada.estimators_:
            max_depth.append(tree.tree_.max_depth)
        print("avg max depth %0.1f" % (sum(max_depth) / len(max_depth)))
        print(f"max depth {max(max_depth)}")
        print(f"min depth {min(max_depth)}")
        print()
        actual_depth_ada.append(max(max_depth))
    print()

updrs_1: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1}; MAE: 2.4461256512783227; SMAPE: 51.825934331849474
avg max depth 24.6
max depth 25
min depth 21

Parameter: {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6}; MAE: 2.4427480916030535; SMAPE: 50.95808594484454
avg max depth 22.6
max depth 32
min depth 17

Parameter: {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1}; MAE: 2.55320057361999; SMAPE: 49.724907666697696
avg max depth 16.9
max depth 20
min depth 13

Parameter: {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6}; MAE: 2.4836929210229703; SMAPE: 51.70795046978708
avg max depth 20.0
max depth 20
min depth 20

Parameter: {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}; MAE: 2.454198473282443; SMAPE: 48.09241072221079
avg max depth 17.3
max depth 31
min depth 12


updrs_2: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1}; MAE: 2.0916030534351147; SMAPE: 51.476874039183876
avg max depth 24.0
max depth 25
min depth 19

Parameter: {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6}; MAE: 2.148854961832061; SMAPE: 53.0804526689631
avg max depth 21.9
max depth 30
min depth 17

Parameter: {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1}; MAE: 2.5381679389312977; SMAPE: 62.74417338319758
avg max depth 16.1
max depth 20
min depth 11

Parameter: {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6}; MAE: 2.1188634998849336; SMAPE: 52.357032260631776
avg max depth 20.0
max depth 20
min depth 19

Parameter: {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}; MAE: 2.450381679389313; SMAPE: 61.92501391627625
avg max depth 16.1
max depth 26
min depth 10


updrs_3: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1}; MAE: 5.553478074088761; SMAPE: 50.932363348321516
avg max depth 24.1
max depth 25
min depth 20

Parameter: {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6}; MAE: 6.113323445002835; SMAPE: 52.773999469050445
avg max depth 21.4
max depth 29
min depth 17

Parameter: {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1}; MAE: 6.456397758306156; SMAPE: 54.78278587134097
avg max depth 17.2
max depth 20
min depth 13

Parameter: {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6}; MAE: 5.711210453181211; SMAPE: 51.824262494055084
avg max depth 20.0
max depth 20
min depth 19

Parameter: {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}; MAE: 6.525124748025512; SMAPE: 53.92756523621601
avg max depth 17.5
max depth 30
min depth 13


updrs_4: 2353 samples in training, 262 samples in testing.
Parameter: {'n_estimators': 400, 'max_depth': 25, 'learning_rate': 0.1}; MAE: 0.787592087993199; SMAPE: 42.64220708228306
avg max depth 23.9
max depth 25
min depth 19

Parameter: {'n_estimators': 200, 'max_depth': 40, 'learning_rate': 1.6}; MAE: 0.8630913827478712; SMAPE: 59.35271604283703
avg max depth 20.9
max depth 40
min depth 15

Parameter: {'n_estimators': 200, 'max_depth': 20, 'learning_rate': 2.1}; MAE: 1.196215462106272; SMAPE: 83.77075983636446
avg max depth 9.8
max depth 20
min depth 2

Parameter: {'n_estimators': 300, 'max_depth': 20, 'learning_rate': 0.6}; MAE: 0.7846669069493116; SMAPE: 46.36775981907207
avg max depth 20.0
max depth 20
min depth 18

Parameter: {'n_estimators': 300, 'max_depth': 35, 'learning_rate': 2.1}; MAE: 1.268972302082989; SMAPE: 92.50548674036034
avg max depth 8.6
max depth 35
min depth 3

In [52]:
ada_df = pd.concat([params_df,params_df,params_df,params_df], ignore_index=True)
ada_df['actual depth reached'] = actual_depth_ada
ada_df['MAE'] = mae_list_ada
ada_df['SMAPE'] = smape_list_ada
ada_df['UPDRS'] = ""
ada_df.loc[:4, 'UPDRS']=1
ada_df.loc[5:9, 'UPDRS']=2
ada_df.loc[10:14, 'UPDRS']=3
ada_df.loc[15:, 'UPDRS']=4

ada_df

,n_estimators,max_depth,learning_rate,actual depth reached,MAE,SMAPE,UPDRS
0,400,25,0.1,25,2.446126,51.825934,1
1,200,40,1.6,32,2.442748,50.958086,1
2,200,20,2.1,20,2.553201,49.724908,1
3,300,20,0.6,20,2.483693,51.707950,1
4,300,35,2.1,31,2.454198,48.092411,1
5,400,25,0.1,25,2.091603,51.476874,2
6,200,40,1.6,30,2.148855,53.080453,2
7,200,20,2.1,20,2.538168,62.744173,2
8,300,20,0.6,20,2.118863,52.357032,2
9,300,35,2.1,26,2.450382,61.925014,2
10,400,25,0.1,25,5.553478,50.932363,3
11,200,40,1.6,29,6.113323,52.773999,3
12,200,20,2.1,20,6.456398,54.782786,3
13,300,20,0.6,20,5.711210,51.824262,3
14,300,35,2.1,30,6.525125,53.927565,3
15,400,25,0.1,25,0.787592,42.642207,4
16,200,40,1.6,40,0.863091,59.352716,4
17,200,20,2.1,20,1.196215,83.770760,4
18,300,20,0.6,20,0.784667,46.367760,4
19,300,35,2.1,35,1.268972,92.505487,4

In [ ]:
#Tree based XGB Regressor using big_data_imputed

xgbr = xgboost.XGBRegressor()
smape_list_xgb = []
mae_list_xgb = []

X = big_data_imputed.drop(columns=targets, axis=1)

for target in targets:

    y = big_data_imputed[target]
    
    X_train, X_test, y_train, y_test = train_test_split(X.drop(columns='visit_id'), y, train_size=0.9, random_state=100) 

    print(f'{target}: {len(X_train)} samples in training, {len(X_test)} samples in testing.')
    
    for params in random_params:
        #fitting and testing
        xgbr.set_params(**params)
        xgbr.fit(X_train, y_train)
        y_predict = xgbr.predict(X_test)
        #scoring
        mae = mean_absolute_error(y_test, y_predict)
        smape = smape_score(y_test, y_predict)
        #saving scores in their lists
        mae_list_xgb.append(mae)
        smape_list_xgb.append(smape)
        print(f'Parameter: {params}; MAE: {mae}; SMAPE: {smape}')
        
    print()

In [ ]:
xgb_df = pd.concat([params_df,params_df,params_df,params_df], ignore_index=True)
xgb_df['MAE'] = mae_list_ada
xgb_df['SMAPE'] = smape_list_ada

xgb_df